body {
	overflow-x: hidden; 
}
.outer-container {
	display: block;width:100%;position:relative;
}
.outer-container .left-scale, .outer-container .center-lines, .outer-container .right-scale {
	height: 600px;
	display:block;float:left;
}
.outer-container .left-scale {
	background: url("../images/background/left-scale.gif") no-repeat right center;
	width:120px;
}
.outer-container .center-lines {
	background: url("../images/background/usual-breakers.gif") repeat-x;
	width:calc(100% - 240px);
}
.outer-container .right-scale {
	background: url("../images/background/right-scale.gif") no-repeat;
	width: 120px;
}
.right-arrow, .left-arrow {
	position: relative;
  top:64%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height:47px;
}
.right-arrow {
    background: url(../images/r-arrow.png) no-repeat top left 10px;
    background-size: contain;
    margin-left: -25px;
}
.left-arrow {
	background: url(../images/l-arrow.png) no-repeat top right 2px;background-size:contain;  margin-right: -25px;
}
.ilightbox-overlay.dark {background: rgba(0,0,0,0.5) !important;}
/*.slick-prev:after {
  content: ">";
  color: red;
  font-size: 30px;
}

.slick-next:before {
  content: "<";
  color: red;
  font-size: 30px;
}*/
.outer-container .slick-slider{height: 600px;}
.outer-container .slick-list{position: absolute;bottom: 0px;left: 0px;width: 100%;}
.outer-container .slick-initialized .slick-slide {display: inline-block;float:none;}
.outer-container .slick-slide img {
	position: relative;
	bottom: -20px;
	-webkit-transition: bottom 0.6s;
    transition: bottom 0.6s;
}
.outer-container .slick-slide img:hover {
	bottom: 0;
	webkit-transition-delay: 5s;
}
.time-line {
	background: url(../images/timeline-background/bg.jpg);
}
.time-line ul.slick-dots li.slick-active a:after {
	content: "";
    display: block;
    background: url(../images/timeline/kitkat-year-active.png)no-repeat;
    background-size: 100% 75%;
    height: 12px;
    width: 100%;
    margin-top: 4px;
}
.time-line .slick-dots li {
	width: auto;
}
.time-line .time-line-item {
	width:750px;
	/*max-width:750px;*/
	height: 430px;
}
.time-line ul.slick-dots li a {
    color: #4f4e4e;
}
.time-line .year1935 {
	background: url(../images/timeline-background/1935.jpg) no-repeat bottom center;background-size:100%;
}
.time-line .year1937 {
	background: url(../images/timeline-background/1937.jpg) no-repeat bottom center;background-size:96%;
}
.time-line .year1944 {
	background: url(../images/timeline-background/1944.jpg) no-repeat bottom center;background-size:100%;
}
.time-line .year1944 p{max-width: 457px;width:100%;}
.time-line .year1949 {
	background: url(../images/timeline-background/1949.jpg) no-repeat bottom center;background-size:100%;
}
.time-line .year1950 {
	background: url(../images/timeline-background/1950.jpg) no-repeat bottom center;background-size:100%;
}
.time-line .year1958 {
	background: url(../images/timeline-background/1958.jpg) no-repeat bottom center;background-size:100%;
}
.time-line .year1960 {
	background: url(../images/timeline-background/1960.jpg) no-repeat bottom center;background-size:100%;
}
.time-line .year1969 {
	background: url(../images/timeline-background/1969.jpg) no-repeat bottom center;background-size:100%;
}
.time-line .year1970 {
	background: url(../images/timeline-background/1970.jpg) no-repeat bottom center;background-size:100%;
}
.time-line .year1987 {
	background: url(../images/timeline-background/1987.jpg) no-repeat bottom center;background-size:100%;
}
.time-line .year1988 {
	background: url(../images/timeline-background/1988.jpg) no-repeat bottom center;background-size:100%;
}
.time-line .year1999 {
	background: url(../images/timeline-background/1999.jpg) no-repeat bottom center;background-size:100%;
}
.time-line .year2000 {
	background: url(../images/timeline-background/2000.jpg) no-repeat bottom center;background-size:100%;
}
.time-line .year2005 {
	background: url(../images/timeline-background/2005.jpg) no-repeat bottom center;background-size:100%;
}
.time-line .year2006 {
	background: url(../images/timeline-background/2006.jpg) no-repeat bottom center;background-size:100%;
}
.time-line .journey {
	background: url(../images/timeline-background/journey.jpg) no-repeat bottom center;background-size:100%;
}
.time-line .year2015 {
	background: url(../images/timeline-background/2015.jpg) no-repeat bottom center;background-size:100%;
	color: #333;
}
.time-line .year2016 {
	background: url(../images/timeline-background/2016.jpg) no-repeat bottom center;background-size:100%;
}
.kitkat-ranges {
	background: #B10006;
	position: absolute;
	bottom: 0;
	width: 320px;
	height: 335px;
	z-index: -1;
}
.kitkat-ranges-content {
	position: absolute;
	bottom: 0;
}
.kitkat-ranges-content p {
	min-height: 80px;
}
.product-picture {
	position: absolute;
	bottom: 128px;
	width: 320px;
}
.products {
	background: url("../images/products/product-bg.jpg");
	height: 800px;
}
.products .item {
	width: 320px;
	height: 800px;
}
.products .item img {
	display: inline-block;
}
.products .right-arrow {
	position: relative;
	top: 10px;
 	left: 10px;
}
.product-list {
	margin-bottom: 0;
}
.products .left-arrow {
	position: relative;
	top: 50%;
 	right: 10px;
}
.outer-container .overlay{position:absolute;bottom:0px;left:0px;background:url('../images/bg.png') repeat-x bottom;height:200px;width:100%;}
/* .usual-breaker .item img{display:inline-block;} */
@media screen and (max-width:1024px){
.outer-container .left-scale, .outer-container .right-scale {width:120px;}
.outer-container .center-lines {width:calc(100% - 240px);}	
.outer-container .slick-slide img{bottom:0px;}
}
@media screen and (max-width:768px){
.time-line .time-line-item{margin:0px !important;}
}
@media screen and (max-width:767px){
.time-line .time-line-item {width:100%;}
}
@media screen and (max-width:640px){
.outer-container .left-scale, .outer-container .right-scale {width:85px;position:absolute;z-index:8;}
.outer-container .overlay{position:absolute;top:0px;left:0px;background:url("../images/background/usual-breakers.gif") repeat-x;height:600px;width:100%;}
.outer-container .left-scale{left:0px;top:0px;}.outer-container .right-scale {right:0px;top:0px;}
.outer-container .center-lines {width:100%;position:absolute;top:0px;left:0px;background:transparent;z-index:9;}
.right-arrow,.left-arrow{height:55px;}
/* .outer-container .center-lines {width:calc(100% - 160px);} */
/* .outer-container .left-scale, .outer-container .right-scale {width:0px;}
.outer-container .center-lines {width:100%;background: url("../images/background/usual-breakers-full.gif") repeat-x;} */	
}
@media screen and (max-width:480px){
.outer-container .left-scale {
    background: url("../images/background/left-scale.gif") no-repeat right 15px center;
}
.outer-container .right-scale {
    background: url("../images/background/right-scale.gif") no-repeat top left 7px;
}
/* .time-line .time-line-item{width:480px !important;} */
}