/* Reset */
.dcsns ul, .dcsns li {
	padding: 0; 
	margin: 0; 
	list-style: none!important;
	background: none;
}

/* Main styles */
/* Feeds */
.dcsns {
    color: #444;
    list-style: none outside none;
    margin: 0;
	clear: both;
}
.dcsns h1 {
    width: auto;
	position: relative;
}
.dcsns h1, .dcsns h2, .dcsns h3 {
    line-height: 1.35em;
}
.dcsns-content {
	position: relative;
	padding: 0;width:100%;
}
.dcsns ul{width:100%;margin:auto;}

.dcsns-loading {
	background: url(../images/loading_light.gif) no-repeat 0 0;
	height: 24px;
	padding: 6px 0 0 30px;
	position: absolute;
	top: 10px;
	left: 10px;
}
.dcsns-toolbar .dcsns-loading {
	right: 10px;
	left: auto;
}
.stream {
  margin: 0 auto!important;
}
.stream p {margin: 0;padding: 0;font-family: "nimbus-sans",sans-serif;color:#000 !important;}
.stream p:nth-child(1){color: #d7262c !important;font-weight:bold;}
.stream li a {
	color: #FFFFFF;
}
.stream li {
	background-color: #FFFFFF;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
    box-shadow: 0 1px 2px rgba(0,0,0,0.5);
    font-size: 11px;
    padding: 0;
	position: relative;
	margin: 0 0.5% 0.5% 0.5%;
	font-family: Arial, sans-serif;
	line-height: 1.35em;
}
@media screen and (min-width:768px) and (max-width: 1920px){
.stream li {margin:0;padding: 0;display: inline-block;float: left;}
}
@media screen and (min-width:320px) and (max-width: 767px){
.stream li {width:100% !important;margin:0;padding: 0;display: block;}
}
.stream li .inner {
	overflow: hidden;
	padding: 0 0px;
}
.stream li .icon {
	position: absolute;
	left: 50%;
	  -webkit-transform:translateX(-50%);
     -moz-transform:translateX(-50%);
      -ms-transform:translateX(-50%);
       -o-transform:translateX(-50%);
          transform:translateX(-50%);
	z-index: 3;
}
.stream li .section-intro {
    padding: 7px 0;
    display: none;
	width: 100%;
	left: 0;
	bottom: 0;
	position: absolute;
	color: #fff;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	z-index: 2;
}
.stream li .clear {
	clear: both;
}

/* Content blocks */

.stream li .section-intro a {
	text-decoration: none;
	color: #fff;
	margin-left: 32px;
}
.stream li .section-title {width: 100%;display: block;	font-weight: bold;position: absolute;font-size: 32px;color: #FFFFFF;
top:40%;line-height: 25px;
text-align: center;}
.stream li .section-title a {color: #fff;}
.stream li .section-title a:hover {color: #fff;}
.stream li .section-thumb {float: left;margin: 0 0px 0 0;width:100%;}
.stream li .section-thumb img, .stream li .section-text img {display: block;opacity: 1}
.stream li .section-thumb img {	background: #fff;}
.stream li .section-text {display: block;margin-bottom: 3px;color:#000;width: 100%;float: left;margin-top: 9px;font-size: 1.3em;line-height: 1;padding:0px 10px;}
.stream li .section-text br {display: block;}
.stream li .section-user {
	clear: both;
	display: block;
	font-style: italic;
	margin: 0 8px 5px 10px;
	display: block;
	float: left;
	padding: 7px 0 0 15px;
	line-height: 12px;
	background: url(../images/profile.png) no-repeat 0 7px;display:none !important;
}
.stream li .meta {
	display: block;
	font-size: 90%;
	color: #999;
}
.stream li .meta span {
	margin: 0 8px 5px 0;
	display: block;
	float: left;
	padding: 0 0 0 15px;
	line-height: 12px;
}
.meta span.shares {
	background: url(../images/shares.png) no-repeat 0 0;
	padding-left: 20px;
}
.meta span.views {
	background: url(../images/views.png) no-repeat 0 0;
	padding-left: 18px;
}
.meta span.likes {
	background: url(../images/likes.png) no-repeat 0 0;
	padding-left: 16px;
}
.meta span.comments {
	background: url(../images/comments.png) no-repeat 0 0;
}
.meta span.users {
	background: url(../images/users.png) no-repeat 0 0;
}
.meta span.videos {
	background: url(../images/videos.png) no-repeat 0 0;
	padding-left: 16px;
}
.stream li .section-meta {
	display: block;
	margin: 0;
	padding: 0;
	clear: both;
}
.stream li .meta.item-comments {
	padding: 0 0 0 35px;
	margin: 0 0 5px 0;
	min-height: 30px;
	position: relative;
	clear: both;
	line-height: 1.3em;
}
.stream li .meta.item-comments img {
	position: absolute;
	left: 0;
	top: 0;
	width: 30px;
}
.stream li .meta.item-likes {
	padding: 0;
	width: 100%;
	overflow: hidden;
	clear: both;
	line-height: 1.3em;
}
.stream li .meta.item-likes img {
	float: left;
	margin: 0 5px 5px 0;
	width: 30px;
	border: 1px solid #ddd;
	padding: 1px;
	background: #fff;
}
.stream li.dcsns-error {
	color: #990000;
}
.stream li .section-share {
	display: none;
	margin: 0 10px 5px 0;
	padding: 4px 0 0;
	float: right;
}
.stream li .section-share a {
	display: block;
	width: 16px;
	height: 16px;
	float: left;
	margin: 0 2px 0 0;
	background: url(../images/share.png) no-repeat 0 0;
}
.stream li .section-share a.share-twitter {
	background-position: 0 -16px;
}
.stream li .section-share a.share-reply {
	background-position: 0 -32px;
}
.stream li .section-share a.share-retweet {
	background-position: 0 -48px;
}
.stream li .section-share a.share-favorite {
	background-position: 0 -64px;
}
.stream li .section-share a.share-google {
	background-position: 0 -80px;
}
.stream li .section-share a.share-linkedin {
	background-position: 0 -96px;
}
.stream li .section-share a.share-facebook:hover {
	background-position: -16px 0;
}
.stream li .section-share a.share-twitter:hover {
	background-position: -16px -16px;
}
.stream li .section-share a.share-reply:hover {
	background-position: -16px -32px;
}
.stream li .section-share a.share-retweet:hover {
	background-position: -16px -48px;
}
.stream li .section-share a.share-favorite:hover {
	background-position: -16px -64px;
}
.stream li .section-share a.share-google:hover {
	background-position: -16px -80px;
}
.stream li .section-share a.share-linkedin:hover {
	background-position: -16px -96px;
}
.stream li.dcsns-twitter .section-share .share-facebook, .stream li.dcsns-twitter .section-share .share-google, .stream li.dcsns-twitter .section-share .share-linkedin, .stream li.dcsns-twitter .section-share .share-twitter {
	display:none;
}

/* Toolbar */
.dcsns-toolbar {
	padding: 0;
	display: none;
	width: 100%;
	overflow: hidden;
	position: relative;margin-bottom: 15px;
}
/* Filter */
#wall {
	padding-top: 15px;
}
#wall .dcsns-toolbar {
	margin-bottom: 25px;
}
#dcsns-filter.dc-center {
	float: left; 
	padding-left: 50%; 
	display: none;
	margin: 0;
}
.dcsns-toolbar .filter {
	padding: 0;
	margin: 0 0 15px 0;
}
.dcsns-toolbar .filter li {
	display: inline;
	background: none;
	padding: 0;
	margin: 0;
}
.dcsns-toolbar .filter .link-all {
	color: #fff;height: 28px;padding: 2px 7px 0px 7px;font-weight: bold;  font-size: 137%;}
.dcsns-toolbar .filter li a {
	padding: 4px 3px 0 3px;
	margin: 0 1px 1px 0;
	display: block;
	float: left;
	background-color: rgba(0, 38, 44,0.2);
	height: 28px;
}
.dcsns-toolbar .filter li img {
	margin: 0;
	height: 24px;
	width: 25px;
}
/* Controls */
.dcsns .controls {
	position: absolute;
	right: 0;
	top: 7px;
	height: 22px;
	padding: 0;
	z-index: 12;
}
.dcsns .controls li {
	display: inline;
	background: none;
}
.dcsns .controls a {
	display: block;
	width: 22px;
	height: 22px;
	float: left;
	margin: 0 0 0 2px;
	background: url(../images/controls.png) no-repeat 0 0;
}
.dcsns .controls .prev {
	background-position: -44px 0;
}
.dcsns .controls .next {
	background-position: -66px 0;
}
.dcsns .controls .play {
	background-position: 0 0;
}
.dcsns .controls .pause {
	background-position: -22px 0;
}
.dcsns .controls .prev:hover {
	background-position: -44px -22px;
}
.dcsns .controls .next:hover {
	background-position: -66px -22px;
}
.dcsns .controls .play:hover {
	background-position: 0 -22px;
}
.dcsns .controls .pause:hover {
	background-position: -22px -22px;
}

/* feeds network specific styles */
.stream li.dcsns-rss .section-intro, .filter .f-rss a:hover, .filter .f-rss a.iso-active {
	background-color: #FF9800;
}
.stream li.dcsns-flickr .section-intro, .filter .f-flickr a:hover, .filter .f-flickr a.iso-active {
	background-color: #f90784;
}
.stream li.dcsns-delicious .section-intro, .filter .f-delicious a:hover, .filter .f-delicious a.iso-active {
	background-color: #3271CB;
}
.stream li.dcsns-twitter .section-intro, .filter .f-twitter a:hover, .filter .f-twitter a.iso-active {
	background-color: #4ec2dc;
}
.stream li.dcsns-facebook .section-intro, .filter .f-facebook a:hover, .filter .f-facebook a.iso-active {
	background-color: #3b5998;
}
.stream li.dcsns-google .section-intro, .filter .f-google a:hover, .filter .f-google a.iso-active {
	background-color: #2d2d2d;
}
.stream li.dcsns-youtube .section-intro, .filter .f-youtube a:hover, .filter .f-youtube a.iso-active {
	background-color: #DF1F1C;
}
.stream li.dcsns-pinterest .section-intro, .filter .f-pinterest a:hover, .filter .f-pinterest a.iso-active {
	background-color: #CB2528;
}
.stream li.dcsns-lastfm .section-intro, .filter .f-lastfm a:hover, .filter .f-lastfm a.iso-active {
	background-color: #C90E12;
}
.stream li.dcsns-dribbble .section-intro, .filter .f-dribbble a:hover, .filter .f-dribbble a.iso-active {
	background-color: #F175A8;
}
.stream li.dcsns-vimeo .section-intro, .filter .f-vimeo a:hover, .filter .f-vimeo a.iso-active {
	background-color: #4EBAFF;
}
.stream li.dcsns-stumbleupon .section-intro, .filter .f-stumbleupon a:hover, .filter .f-stumbleupon a.iso-active {
	background-color: #EB4924;
}
.stream li.dcsns-deviantart .section-intro, .filter .f-deviantart a:hover, .filter .f-deviantart a.iso-active {
	background-color: #EB4924;
}
.stream li.dcsns-tumblr .section-intro, .filter .f-tumblr a:hover, .filter .f-tumblr a.iso-active {
	background-color: #365472;
}
.stream li.dcsns-instagram .section-intro, .filter .f-instagram a:hover, .filter .f-instagram a.iso-active {
	background-color: #413A33;
}
.stream li.dcsns-vine .section-intro, .filter .f-vine a:hover, .filter .f-vine a.iso-active {
	background-color: #00BF8F;
}

/* Facebook */
.stream li.dcsns-facebook .section-thumb img {max-width:100%;margin-bottom: 5px;width:100%;}

.stream li.dcsns-facebook .section-thumb img, .stream li.dcsns-facebook .section-text img {
	display: block;
}

.stream li.dcsns-facebook .section-text img {
	margin: 5px 7px 5px 0;
	float: left;
	border: 1px solid #ddd;
	padding: 1px;
	background: #fff;
}
.stream li.dcsns-facebook .section-text a {
	margin-right: 4px;
	color: #444;
}
.stream li.dcsns-facebook .section-text-fb a {
	display:none;
}
.stream li.dcsns-facebook .section-intro a {
	margin-left: 25px;
}
.stream li.dcsns-facebook .meta {
	display: block;
	clear: both;
}
.stream li.dcsns-facebook .meta.item-comments {
	padding: 0;
	min-height: auto;
}
.stream li.dcsns-facebook .meta.item-comments a {
	display: block;
	margin: 0 0 2px 0;
}
.stream li.dcsns-facebook .share-facebook {
	display: none;
}
/* twitter */
.stream li.dcsns-twitter .section-thumb {
	margin-top: 0px;width:100%;
}
.stream li.dcsns-twitter .section-thumb img {
	width: 48px; 
	height: 48px;
	display: block;
}
.stream li.dcsns-twitter .section-user {
	padding: 0;
	background: none;
}
.stream li.dcsns-twitter .section-text img {
	margin: 5px 0 0;
	padding: 0px;
	background: #fff;
}
.stream li.dcsns-twitter a {
	color: #38AEAE;
}
.stream li.dcsns-twitter .section-intro a, .stream li.dcsns-twitter .section-intro a:hover {
	color: #fff;
}
.stream li.dcsns-twitter .section-intro span a {
	text-decoration: none;
	margin-left: 0;
}
.stream li.dcsns-twitter .section-intro span a:hover {
	text-decoration: underline;
}
.stream li.dcsns-twitter a:hover {
	color: #38AEAE;
	text-decoration: underline;
}
.stream li.dcsns-twitter .twitter-user {margin-bottom: 2px;display: block;width:70%;float:left;padding-top:5px;}
.stream li.dcsns-twitter .twitter-user a {
	color: #d7262c;line-height: 1.35em;font-size:1.1em;font-style: italic;font-weight: 700;}
.stream li.dcsns-twitter .twitter-user a:hover {
	color: #999;
	text-decoration: none;
}
.stream li.dcsns-twitter .twitter-user a strong{
	color: #444;
}
.stream li.dcsns-twitter .twitter-user a:hover strong {
	color: #38AEAE;
	text-decoration: underline;
}
/* google */
.stream li.dcsns-google .section-title {
	margin-bottom: 5px;
}
.dcsns .stream li.dcsns-google .section-thumb img {
	/*max-width: 204px;*/
}
.stream li.dcsns-google .meta span.plusones {
	padding-left: 0;
}
/* rss */
.stream li.dcsns-rss .section-thumb img {
	max-width: 204px;
}
.stream li.dcsns-rss .section-text img {
	padding: 1px;
	background: #fff;
	max-width: 204px;
}
/* stumbleupon */
.dcsns .stream li.dcsns-stumbleupon .section-title {
	display: block;
	clear: both;
}
.dcsns .stream li.dcsns-stumbleupon .section-thumb img {
	max-width: 204px;
}
/* youtube */
.stream li.dcsns-youtube{background: #ca0205}
.stream li.dcsns-youtube .section-thumb img {
	max-width: 100%;margin-bottom: 0px;
}
/* vimeo */
.stream li.dcsns-vimeo .section-thumb img {
	max-width: 204px;
}
.dcsns .stream li.dcsns-vimeo .section-title {
	display: block;
	clear: both;
}
.stream li.dcsns-vimeo .section-text {
	margin-bottom: 5px;
}
.stream li.dcsns-vimeo .section-text .meta {
	padding-top: 5px;
}
.stream li.dcsns-vimeo .logo {
	margin-bottom: 3px;
}
/* Flickr */
.stream li.dcsns-flickr .section-thumb {
	margin: 0;
}
.stream li.dcsns-flickr .section-thumb img{
	max-width: 192px;
}
/* Pinterest */
.stream li.dcsns-pinterest .section-thumb {
	display: block;
}
.stream li.dcsns-pinterest .section-text {
	clear: both;
}
.stream li.dcsns-pinterest .section-thumb img {
	width: 190px;
}
/* dribbble */
.stream li.dcsns-dribbble .inner img {
	margin-bottom: 5px;
	max-width: 192px;
}
/* lastfm */
.stream li.dcsns-lastfm .section-title {
	background: url(../images/tracks.png) no-repeat 0 0;
	padding-left: 17px;
	margin-bottom: 0;
}
/* deviantart */
.stream li.dcsns-deviantart .section-thumb {
	display: block;
	float: none;
}
.stream li.dcsns-deviantart .section-thumb img {
	max-width: 204px;
}
/* tumblr */
.stream li.dcsns-tumblr .section-text img {
	margin: 0 7px 5px 0;
	float: left;
	background: #fff;
	/*max-width: 204px;*/
}
.stream li.dcsns-tumblr .track {
	display: block;
	background: url(../images/tracks.png) no-repeat 0 5px;
	padding: 5px 0 0 17px;
	margin-bottom: 0;
}
/* instagram */
.stream li.dcsns-instagram {
	padding-bottom: 40px;
}
.stream li.dcsns-instagram .section-title {
	font-weight: normal;
	clear: both;
}
.stream li.dcsns-instagram .section-thumb img {
	margin: 0 7px 5px 0;
	float: left;
	border: 1px solid #ddd;
	padding: 1px;
	background: #fff;
}
.stream li.dcsns-instagram .meta {
	clear: both;
}
.stream li.dcsns-instagram .section-meta .meta .comments, .stream li.dcsns-instagram .section-meta .meta .likes {
	margin: 0 0 5px 0;
	padding-top: 5px;
	background-position: 0px 5px;
	float: none;
	font-size: 100%;
	font-weight: bold;
}
/* vine */
.stream li.dcsns-vine {
	padding-bottom: 40px;
}
.stream li.dcsns-vine .section-title {
	font-weight: normal;
	clear: both;
}
.stream li.dcsns-vine .section-thumb img {
	margin: 0 7px 5px 0;
	float: left;
	border: 1px solid #ddd;
	padding: 1px;
	background: #fff;
	max-width: 192px;
}
.stream li.dcsns-vine .meta {
	clear: both;
}
.stream li.dcsns-vine .section-meta .meta .comments, .stream li.dcsns-vine .section-meta .meta .likes {
	margin: 0 0 5px 0;
	padding-top: 5px;
	background-position: 0px 5px;
	float: none;
	font-size: 100%;
	font-weight: bold;
}
/* Foursquare */
.stream li.dcsns-foursquare .section-thumb img {
	max-width: 192px;
	margin-bottom: 5px;
	display: block;
}
/*isotope */
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;width:100% !important;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;width:100% !important;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}
.section-text video {width:100% !important;}
.stream li .section-title p{display:none;}
.stream li .section-title p:nth-child(1) { display:block;font-size: 130%;padding-top: 5px}
.tmblr-full img{width:100% !important;}
.section-thumb .thumb {float:left;width:30%;}
.stream li .section-title .tumblr-image{/*margin-left:-10px !important;*/}
.stream li .section-title .tumblr-image img{width:110% !important;}
.stream li .section-title a video {width: 100%;height:100%;}
.stream li .section-title a iframe {margin-left:-10px;width:110%;}
#dcsns-filter.dc-center{margin-left: -83.5px !important;}

/*++++++++++vcb styles for++++++++++++++++*/

/*.stream .dcsns-youtube .section-thumb img {opacity: .75}*/
/*.stream .dcsns-youtube .section-title{width: 95%}*/
.stream .dcsns-youtube .inner .section-title{font-size: 20px;top: 50%;
  -webkit-transform:translateY(-50%);
     -moz-transform:translateY(-50%);
      -ms-transform:translateY(-50%);
       -o-transform:translateY(-50%);
          transform:translateY(-50%);}

.stream .dcsns-facebook{overflow: hidden;}
.stream .dcsns-facebook .inner{background: #ea1c29;text-align: center;position: relative;min-height: 225px;}
.stream .dcsns-facebook .inner .section-thumb{position: absolute;top: 0;left: 0}
.stream .dcsns-facebook .inner .section-thumb img{border-radius: 0%;overflow: hidden;max-width: 100%;margin: -140px auto 0 auto;border: 0px solid #FFFFFF}
.stream .dcsns-facebook .inner .section-text {background-color: rgba(0, 0, 0, 0.3);color: #ffffff;font-family: "Gotham-BOld";font-size: 14px;height: 100%;overflow: hidden;position: absolute;margin-top: 0px;}
.stream .dcsns-facebook .inner .section-text a {color: #ffffff; display: block; height: 100%; left: 0; padding: 90px 10px 10px; position: absolute; width: 100%;}


/*.stream .dcsns-twitter{max-width: 275px;overflow: hidden;}*/
.stream .dcsns-twitter .inner{background: #32bbcb;text-align: center;position: relative;overflow: hidden;}
.stream .dcsns-twitter .section-thumb > a{position: absolute;top: 125px;left: 50%;
  -webkit-transform:translateX(-50%);
     -moz-transform:translateX(-50%);
      -ms-transform:translateX(-50%);
       -o-transform:translateX(-50%);
          transform:translateX(-50%);}
.stream .dcsns-twitter .inner .section-thumb img{border-radius: 50%;overflow: hidden;max-width: 75px;height:75px;width:75px;margin: 0 auto;border: 2px solid #FFFFFF}
.stream .dcsns-twitter .section-text{display: none;}
.stream .dcsns-twitter .inner .section-thumb .twitter-user{ margin: 70px auto;text-align: center;float:none;}

.stream .dcsns-twitter .inner .section-thumb .twitter-user a{font-family: "Gotham-BOld";color: #FFFFFF;font-size: 16px}

/*.stream li{margin: 0}*/

@media screen and (max-width: 1024px){
	.top-breakers-list.owl-controls .owl-nav [class*="owl-"]{padding: 8px 12px;margin: 5px 15px 5px 15px;}
	#dcsns-filter.dc-center{margin-left: -160.6px !important;}
	.dcsns-toolbar .filter .link-all{height:50px;padding:15px 15px;}
	.dcsns-toolbar .filter li a{height:50px;padding:16px;margin:0px 4px;}
	#dcsns-filter.dc-center{padding-left:50%;}
	.stream .dcsns-facebook .inner .section-thumb img{margin-top: 0}
}
@media screen and (max-width: 767px){
.stream .dcsns-facebook .inner .section-thumb img{margin-top: -170px}
}
@media screen and (max-width: 767px){
.stream .dcsns-facebook .inner .section-thumb img{margin-top: -115px}
}
