#nosupport{
	width: 100%;
	height: 100%;
	background:  rgba(0,0,0,.8);
	position: fixed;
	right:0px;
	top: 0;
	z-index: 15000;
}
#nosupport .content{
	width: 600px;
	padding: 80px;
	margin: 5% auto 0;
	background: #fff;
	text-align: center;
	font-family: 'BlissRegular';
	color: #999;	
}
.col-md-3{
	width: 25%;
	float: left;
}
#nosupport h4{
	color: #616161;
	font-size: 24px;
	font-family: 'BlissRegular';
}
#nosupport p{
	font-size: 16px;
}
#nosupport .bicons{
	border-top:1px solid #d9d5d5;
	padding-top: 20px;
	margin-top: 20px;
	color: #444;
}
#nosupport .bicons a{
	height: 90px;
	width: 80px;
	display: inline-block;
	background: url(../images/nosupport.png) no-repeat left top;
}
#nosupport .bicons a.chrome{
	background-position: -80px top;
}
#nosupport .bicons a.safari{
	background-position: -161px top;
}
#nosupport .bicons a.iexplorer{
	background-position: -241px top;
}