@import url("../fonts/font.css");
/*Product Detail Page*/
.kitkat-description-wrapper{position: relative; background: url(../images/product-range/product-detail/background.png); height: 770px;}
#kitkat-description{width:100%;max-width:1135px;margin:auto;}
.red-bg-bottom {background: #d1030a; position: absolute;bottom: 0px; height: 110px; width: 100%;}
.left-panel{width:calc(100% - 364px);float:left;position: relative;}
.right-panel{width:364px;background:#fff;float:left;height:770px;padding: 10px 15px 30px 15px;position: relative;}
.right-panel .product-name {font-size: 32px;color: #d1030a; }
.right-panel .product-text {font-size: 14px;color: #696969; }
.right-panel .buttons {     padding-top: 40px; }
.left-panel .main-product {padding-top: 100px; }
.left-panel h1 { 	font-size: 32px;color: #fff;font-family: "DOCK11-Heavy";font-weight: 500; }
.main-product {width:100%;height:660px;background: transparent;}
.thumbnail-product{width:50%;float:left;background:#d1030a;height:110px;cursor:pointer;border: none;}
.thumbnail-product img {width: 136px;position: relative;top: -113px;left: 18px;}
.thumbnail-product div {display: inline-block;width: 48%; }
        /**/.left-panel {position: relative;}
        /**/.right-panel {height: 680px;}
        .img-responsive {display: inline;}
        .thumbnail-product div h1 {font-size: 18px;margin-left: -30px;}
        /**/.thumbnail-product div {vertical-align: top;}
        /**/.left-panel .main-product {padding-top: 50px;}
        /**/.right-panel .buttons {padding-top: 0px;}
        .left-panel .main-product .main-title {margin-top: 30px;}
        .kitkat-description-wrapper {background:url(../../assets/images/product-range/product-detail/product-detail-bg.jpg) center no-repeat;background-size: cover;}
        .right-panel {padding: 10px 30px 30px 30px;position: relative;margin-top:50px;}
        .right-panel-triangle {position:absolute;left:0px;top:90px;}
        .right-panel .right-panel .buttons { padding-top: 0px; }
        .right-panel .right-panel-img {margin-top: 30px;text-align: center;display: inline;}
        .pr-banner-arrows {position: absolute;left:0px;top:30%;}
        .pr-banner-arrows img {width: 50px;}
        .pd-up-arrow, .pd-left-arrow, .pd-down-arrow {margin-bottom: 10px;}
        .thumbnail-product {background: url(../../assets/images/product-range/product-detail/pd-bottom-thumb-bg.png) repeat-y;}
		.pd-dots {text-align: center;margin-bottom: 50px;cursor: pointer;}
        .slick-dots li{width:12px;height:12px;background:#fff;border-radius:50%;display: inline-block;margin-left: 5px;}
        .slick-dots li.slick-active{background:#D90306;border:1px solid #fff;}
		.main-product.two, .main-product.three{display:none;}
		@media (max-width: 1200px) {
            .right-panel {clear:both;width: 100%;height: auto;margin-top: 0px;}
            .left-panel {float: none;clear:both;width: 100%;}
            .kitkat-description-wrapper {height:auto;}
            .right-panel-content {width: 60%;float: left;}
            .right-panel-img {width: 40%;float: left;}
            .right-panel-triangle {display: none;}
            .pr-banner-arrows {left:5%;}

        }
        @media(max-width:767px) {
		  .product-image img{display: inline-block !important;}
		  .main-product{height: 455px;} 	
		  .main-product.two, .main-product.three{display:block;}
          .right-panel-content,
          .right-panel-img {width: 100%;}
          .thumbnail-product {display: none !important;}
          .main-product {min-height:450px;}
          .right-panel {10px 20px;}
          .right-panel .product-name {font-size: 26px;text-align: center;}
          .right-panel .product-text {text-align: center;}
          .right-panel .buttons {text-align: center;}
          .right-panel .buttuns a {display: inline-block;}
        }