@import url("../fonts/font.css");
.section-heading h1 {
	text-align: center;
    font-size: 2.75em;
    color: #d1030a;
    margin-bottom: 12px;
	padding-top: 50px;
    -webkit-text-shadow: 1px 5px 5px rgba(108, 114, 107, 1);
    -moz-text-shadow: 1px 5px 5px rgba(108, 114, 107, 1);
    -ms-text-shadow: 1px 5px 5px rgba(108, 114, 107, 1);
    -o-text-shadow: 1px 5px 5px rgba(108, 114, 107, 1);
    text-shadow: 1px 5px 5px rgba(108, 114, 107, 1);
}
body{overflow-x:hidden;}
.slick-slide:focus {outline:none;}
.fa {padding-right:11px;}
.spotlight-items.senses{display:none}
.fa-tumblr:before,.fa-facebook-f:before, .fa-facebook:before{padding-right: 3px;}
#usual-breaker .outer-container .section-heading{position: absolute;width: 100%;z-index:0;}/*changed*/
a{color:#fff;}
.ub-item-desc a {
    width:98px;
    color: #d1030a;
    font-size: 10px;
    background: #ffffff;
    display: block;
    position: absolute;
    font-weight: 700;text-align: center;
    bottom:8px;
    left: 35%;
    -webkit-transform: translateX(-65%);
    -moz-transform: translateX(-65%);
    -ms-transform: translateX(-65%);
    -o-transform: translateX(-65%);
    transform: translateX(-65%);
    padding: 7px 0;
    border-radius: 15px;
}
.slick-dots {bottom: -67px;}

.ub-item-desc img,.ub-item-desc img:hover{bottom:-20px !important;}
.ub-item-desc a.p-buynow {
    color: #ffffff;
    background: #d1030a;
    left: 65%;
    -webkit-transform: translateX(-35%);
    -moz-transform: translateX(-35%);
    -ms-transform: translateX(-35%);
    -o-transform: translateX(-35%);
    transform: translateX(-35%);
}

.ub-item-desc{width:240px;margin:auto;position:relative;}
.ub-item-desc img{width:100%}
.time-line-wrap .time-header h1 {
    color: #d1030a;
    font-size: 2.75em;
    text-align: center;
    text-shadow: 4px 4px 1px rgba(150, 150, 150, 0.5);
}
.usual-breaker .item{width:320px !important;text-align:center;}
.usual-breaker .item img{margin:auto;}
.main-nav{display:table;width:100%;position: relative;}
.menu-left,.menu-center,.menu-right{display:table-cell;width: 33.33%;}
.menu-center{text-align:center;}.menu-right{text-align:left;}
.kitkat-header .header-wrap {position: fixed;width: 100%;z-index: 9999;}
.container {max-width:970px;}
.kitkat-header .header-wrap .nav-wrap {padding: 35px 0;-webkit-transition: all 500ms ease;-moz-transition: all 500ms ease;
-ms-transition: all 500ms ease;-o-transition: all 500ms ease;transition: all 500ms ease;}
.menu-center .center li{height:110px;}
.menu-center .center li img{width: 145px;margin-top:11px;}
.kitkat-header .header-wrap .nav-wrap {
    position: relative;padding:0px;z-index: 999;background: #ec0408;
    background: -moz-linear-gradient(top, #ec0408 0%, #dd0306 27%, #d10205 54%, #c20205 77%, #bb0104 100%);
    background: -webkit-gradient(right top, right bottom, color-stop(0%, #ec0408), color-stop(27%, #dd0306), color-stop(54%, #d10205), color-stop(77%, #c20205), color-stop(100%, #bb0104));
    background: -webkit-linear-gradient(top, #ec0408 0%, #dd0306 27%, #d10205 54%, #c20205 77%, #bb0104 100%);
    background: -o-linear-gradient(top, #ec0408 0%, #dd0306 27%, #d10205 54%, #c20205 77%, #bb0104 100%);
    background: -ms-linear-gradient(top, #ec0408 0%, #dd0306 27%, #d10205 54%, #c20205 77%, #bb0104 100%);
    background: linear-gradient(to bottom, #ec0408 0%, #dd0306 27%, #d10205 54%, #c20205 77%, #bb0104 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec0408', endColorstr='#bb0104', GradientType=0 );
    -webkit-box-shadow: 0px 1px 5px #000000;
    -moz-box-shadow: 0px 1px 5px #000000;
    -ms-box-shadow: 0px 1px 5px #000000;
    -o-box-shadow: 0px 1px 5px #000000;
    box-shadow: 0px 1px 5px #000000;
}
.kitkat-header .header-wrap .main-nav ul.left {text-align: right;}
.kitkat-header .header-wrap .main-nav ul {display: block;padding: 0;margin: 0px -15px;text-align: left;}
.kitkat-header .header-wrap .main-nav ul.left li {list-style: none;}
.kitkat-header .header-wrap .main-nav ul li {display: inline-block;vertical-align: middle;padding: 0 5px;
text-align: center;}
.kitkat-header .header-wrap .main-nav ul li a {
    font-family: 'Tahoma';
    font-size: 1.4em;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.kitkat-header .header-wrap .main-nav ul.right li a i {
    height: 35px;
    width: 35px;
    display: table-cell;
    vertical-align: middle;
    -webkit-border-radius: 65% 40% 65% 40%;
    -moz-border-radius: 65% 40% 65% 40%;
    -ms-border-radius: 65% 40% 65% 40%;
    -o-border-radius: 65% 40% 65% 40%;
    border-radius: 65% 40% 65% 40%;
    -webkit-transition: background 300ms ease-in-out;
    -moz-transition: background 300ms ease-in-out;
    -ms-transition: background 300ms ease-in-out;
    -o-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
}
.kitkat-header .header-wrap .main-nav ul li.language a{font-size: 1.2em;}
.kitkat-header .header-wrap .main-nav ul li a i {font-size: 20px;}
.kitkat-header .header-wrap .main-menu {position:relative;}
.kitkat-header .header-wrap .main-nav ul.center {min-height: 54px;position: relative;display: block;text-align: center;width: 100%;margin: auto;}
.kitkat-header .header-wrap .main-menu ul.main-menu-innner {background: #cf0206;width: 270px;height: 450px;position: absolute;left:0px;top: -460px;margin: 0;padding: 20px 0 0 0;display: block;border-top: 2px solid #603924;-webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);-moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);z-index: 998;-webkit-transition: all 500ms ease;
-moz-transition: all 500ms ease;
-ms-transition: all 500ms ease;
-o-transition: all 500ms ease;
transition: all 500ms ease;}
.kitkat-header .header-wrap .main-menu ul.main-menu-innner.active {top:0px;opacity: 1;}
.kitkat-header .header-wrap .main-menu ul.main-menu-innner li:nth-child(1), .kitkat-header .header-wrap .main-menu ul.main-menu-innner li:nth-child(2) {border-top: none;margin-top: 11px;}
.kitkat-header .header-wrap .main-menu ul.main-menu-innner li {display: block;text-align: left;padding: 10px 0;border-bottom: 2px solid #bd0104;border-top: 2px solid #fa1c22;margin: 0;}
.kitkat-header .header-wrap .main-menu ul.main-menu-innner li a {font-family: 'Gotham-Bold';font-weight: bold;font-size: 16px;padding: 5px 25px;}
.kitkat-header .header-wrap .main-nav .contact-button{position: absolute;bottom: -41px;left: 0px;}
/*footer styles*/
.kitkat-footer{left:0px;
background: #ba0104;background: -moz-linear-gradient(top,  #ba0104 0%, #bf0104 17%, #c40206 34%, #c40206 50%, #c40206 67%, #bf0104 84%, #ba0104 100%, #ba0104 100%, #ba0104 100%, #ba0104 100%, #ba0104 100%);background: -webkit-linear-gradient(top,  #ba0104 0%,#bf0104 17%,#c40206 34%,#c40206 50%,#c40206 67%,#bf0104 84%,#ba0104 100%,#ba0104 100%,#ba0104 100%,#ba0104 100%,#ba0104 100%); 
background: linear-gradient(to bottom,  #ba0104 0%,#bf0104 17%,#c40206 34%,#c40206 50%,#c40206 67%,#bf0104 84%,#ba0104 100%,#ba0104 100%,#ba0104 100%,#ba0104 100%,#ba0104 100%);
padding: 15px 0;-webkit-box-shadow: 0px -16px 26px -18px rgba(0,0,0,0.75);-moz-box-shadow: 0px -16px 26px -18px rgba(0,0,0,0.75);box-shadow: 0px -16px 26px -18px rgba(0,0,0,0.75);position: relative;z-index: 99;-webkit-transition: all 500ms ease;-moz-transition: all 500ms ease;-ms-transition: all 500ms ease;-o-transition: all 500ms ease;transition: all 500ms ease;}
.kitkat-footer .footer-wrap .social{margin-top: 15px;color: #fff;}
.kitkat-footer .footer-wrap .social p{text-align: center;margin: 0;padding: 0;}
.kitkat-footer .footer-wrap .social p a:hover{color: #ffffff;text-decoration: underline;}
.kitkat-footer .footer-wrap .social ul.social-navs{margin: 0 auto;padding: 0;display: table;text-align: center;}
.kitkat-footer .footer-wrap .social ul.social-navs li{display: table-cell;vertical-align: middle;padding: 0px 8px;list-style: none;text-align: center;font-family: 'DOCK11-Heavy';font-size: 18px}
.kitkat-footer .footer-wrap .social ul.social-navs span{text-align: center;font-family: 'DOCK11-Heavy';font-size: 18px;display: table-cell;vertical-align: middle;}
.kitkat-footer .footer-wrap .social ul.social-navs li a i{height: 40px;width: 40px;display: table-cell;vertical-align: middle;background: #ffffff;color: #ba0104;border-radius: 50%;font-size: 20px; 
-webkit-transition: background 300ms ease-in-out;-moz-transition: background 300ms ease-in-out;
-ms-transition: background 300ms ease-in-out;-o-transition: background 300ms ease-in-out;
transition: background 300ms ease-in-out;}

/* Home page styles*/
.mini-moments{background:#D30C11 url('../images/background/mini_moment_en_1024x768.jpg') no-repeat center 100%;}
.senses{background:#D30C11 url('../images/background/kitkat-senses-en_1024x768.jpg') no-repeat center 100%;}
.spotlight-items{height:600px;}
#usual-breaker{height:600px;width:100%;background:#E1E1E1;}
#kitkat-journey{height:600px;width:100%;background:#DDE5E8;}
#social-sphere{width:100%;}
.fb-sphere,.yt-sphere,.instagram-sphere{height:100%;width:33.33%;float:right;border:1px solid #fff;}
.owl-nav .owl-prev{position: absolute;top: 50%;right: 10px;}
.owl-nav .owl-next{position: absolute;top: 50%;left: 10px;}
.time-line  div p{width:100%;padding:0px 15px;max-width:600px;margin:auto;text-align:center;}
.time-line  div h2{margin:0px;color:#e60008;font-family: "Gotham";font-weight:700;text-align:center;font-size: 1.6em;margin-bottom:10px;}
.right-scale .right-arrow, .left-scale .left-arrow  {cursor:pointer;}


#spotlight-home .owl-dots{position: absolute;bottom: 45px;display: block;width:100%;margin: 0 auto;text-align: center;}
#spotlight-home .owl-dots .owl-dot{display:inline-block;height: 20px;width: 65px;background: url("../images/break.png")no-repeat;background-size: cover;
-webkit-transition: background 300ms ease-in-out;
   -moz-transition: background 300ms ease-in-out;
    -ms-transition: background 300ms ease-in-out;
     -o-transition: background 300ms ease-in-out;
        transition: background 300ms ease-in-out;}
#spotlight-home .owl-dots .owl-dot.active{background: url("../images/active-break.png")no-repeat;background-size: cover;}
.owl-nav .owl-prev, .owl-nav .owl-next{display:none !important;}


/*SOcial sphere home page*/
.kitkat-social .social-wrap {background: #ca0205;padding: 50px 0 0 0;position: relative;z-index: 2;}
.kitkat-social .social-wrap .section-heading.social h1 {font-size: 2em;display: block;position: relative;margin:0px;padding:0px;color:#fff;    -webkit-text-shadow:none;
    -moz-text-shadow:none;
    -ms-text-shadow:none;
    -o-text-shadow:none;
    text-shadow:none;}
.kitkat-social .social-wrap .section-heading.social h1:before {display: block;width: 38%;height: 1px;background: #ffffff;position: absolute;top: 50%;content: "";right: 32%;-webkit-transform: translateX(-68%);-moz-transform: translateX(-68%);-ms-transform: translateX(-68%);-o-transform: translateX(-68%);transform: translateX(-68%);}
.kitkat-social .social-wrap .section-heading.social h1:after {display: block;width: 37.5%;height: 1px;background: #ffffff;position: absolute;top: 50%;content: "";left: 32%;-webkit-transform: translateX(68%);-moz-transform: translateX(68%);-ms-transform: translateX(68%);-o-transform: translateX(68%);transform: translateX(68%);}
.kitkat-social .social-wrap .section-heading.social h1 img {display: inline-block;}
.kitkat-social .social-wrap .section-heading.social .before-after-line {display: none;position: relative;bottom: 35px;}
#social-stream {padding-top: 30px;}
.stream {width: 100% !important;overflow: hidden;}
.stream li {padding: 0;margin: 0;width: 33.33%;height: 225px;}
.stream .dcsns-facebook .inner {height: 100%;}
.stream li .section-thumb {height: 225px;overflow: hidden;position: relative;/* z-index: 2; */}
.stream li .icon {/*position: relative;*/bottom: 185px;}
.stream li .inner {position: relative;}
.stream li.dcsns-youtube .section-thumb img {width: 635px;margin: 0 auto;position: absolute;max-width: 635px;left: 50%;
-webkit-transform: translateX(-50%);-moz-transform: translateX(-50%);-ms-transform: translateX(-50%);-o-transform: translateX(-50%);transform: translateX(-50%);}
.stream li.dcsns-instagram .section-thumb img {margin: 0 auto;position: absolute;width: 102%;top: -70%;left: 50%;-webkit-transform: translateX(-50%);-moz-transform: translateX(-50%);-ms-transform: translateX(-50%);-o-transform: translateX(-50%);transform: translateX(-50%);z-index: 2;}
/*Breaker counter widget*/
.breaker-couter {right: 4%;width: 240px;top: 122px;}
.breaker-couter {display: block;width: 270px;height: 230px;position: fixed;
right: 17%;top: 140px;z-index: 14;text-align: center;color: #ffffff;}
.breaker-couter .counter-bg {position: absolute;top: 0;left: 0;width: 100%;}
.breaker-couter .breaker-taken {position: absolute;right:65px;top: 60px;
display:block;max-width:215px;z-index:56;}
.breaker-couter .breaker-taken h3,.breaker-couter .breaker-taken p {margin: 0 auto;padding: 0;}
.breaker-couter p {color: #666666;font-family: "Gotham-Bold";}
.breaker-couter h3 {color: #8a0015;}
.breaker-couter .kitkat-consumed {position: absolute;right: 60px;top: 151px;display: block;max-width: 215px;z-index: 57;}
.breaker-couter .kitkat-consumed h3, .breaker-couter .kitkat-consumed p {margin: 0 auto;padding: 0;}
/* Kitkat Range Page*/
#kitkat-range{height:800px;width:100%;background:red;}


/* Cocoa Plan*/
#video-container{width:100%;max-width:828px;margin:auto;position:relative;}
.video{width:100%;height:466px;background:green;border:1px solid #fff;}
.thumbnails-container{position:relative;width:100%;}
.thumbnails{width:25%;float:right;position: relative;}
.cocoa-intro-vid{background: url(../images/cocoa/cocoa-bg.jpg)repeat;}
.main-vid-play{text-align: center;
-webkit-box-shadow: 0px 4px 18px -2px rgba(0,0,0,0.41);
-moz-box-shadow: 0px 4px 18px -2px rgba(0,0,0,0.41);
box-shadow: 0px 4px 18px -2px rgba(0,0,0,0.41);}
.vidblog{width: 100%;height: 100%;}
.col-no-space{margin-left: 0;margin-right: 0;padding-right: 0;padding-left: 0;}
.cocoa-wrap{display:none;background: url(../images/cocoa/cocoa-bg.jpg)repeat;width: 100%;/*height: 670px;*/position: relative;}
/*close btn*/
.cocoa-close-btn{position: absolute;left: 10%;top:17%;z-index: 10;}
.cocoa-close-btn a{font-size: 36px;color: #fff;font-family: "Gotham-Light";text-align: left;}
.cocoa-banner-footer{position: absolute;width: 100%;bottom: 0;right: 0;z-index: 11;}
.Presentedby{text-align: center;color: #fff;font-family: 'Gotham';}
.Presentedby p{text-align: center;color: #fff;font-family: 'Gotham-Bold';margin-bottom: -18px;font-size: 14px;}
.cocoa-owl{width: 100%;padding-top: 180px;height: 600px;}
.cocoa-owl .cocoa-slide{height: 600px;}
/*lightbox styling*/
.ilightbox-holder.dark{background: none;padding: 0;}
.ilightbox-button.ilightbox-prev-button.dark.horizontal{right: 10%;background-image:none;background: url(../images/cocoa/videos/gallery/left-g.png)no-repeat;width: 30px;height: 56px;}
.ilightbox-button.ilightbox-next-button.dark.horizontal{left: 10%;background-image:none;background: url(../images/cocoa/videos/gallery/right-g.png)no-repeat;width: 30px;height: 56px;}
.ilightbox-button.dark.disabled{opacity: 0.5;background: none;}
.ilightbox-toolbar.dark{left: 10%;top: 10%;}
.ilightbox-toolbar.dark a.ilightbox-fullscreen{display: none;}
.ilightbox-toolbar.dark a{background-image: none;background: url(../images/cocoa/videos/gallery/close.png)no-repeat; background-color: none;height: 56px;width: 56px;}
.ilightbox-toolbar.dark a.ilightbox-close:hover{background-position: 0 0;}
.ilightbox-toolbar.dark a:first-of-type{float: left;}
/*cocoa slide 1*/
.cocoa-owl .coc-slide h2{color: #fff;font-family: 'Gotham-Bold';padding-bottom: 20px;}
.cocoa-owl .coc-slide h2.from-sec{font-family: 'DOCK11-Heavy';color: #fff;text-shadow: 5px 5px 1px rgba(0, 0, 0, 0.5);font-size: 22px;display: inline-block;margin-top: 5px;}
.cocoa-owl .coc-slide span{font-size: 100px;color: #fff;font-family: 'Gotham-Bold';text-shadow: 5px 5px 1px rgba(0, 0, 0, 0.5);font-weight: bolder;}
.cocoa-owl .coc-slide h1{color: #fff;font-family: 'DOCK11-Heavy';margin: 0 ;line-height: 32px;text-shadow: 5px 5px 1px rgba(0, 0, 0, 0.5);}
/*from slide 2*/
.cocoa-owl .coc-slide h2.from-sec{text-align: right;line-height: 22px;font-family: 'DOCK11-Heavy';color: #fff;text-shadow: 5px 5px 1px rgba(0, 0, 0, 0.5);font-size: 22px;display: inline-block;margin-top: 5px;}
.cocoa-owl .coc-slide h2 span.cocoa-slide-count{font-family: 'DOCK11-Heavy';font-size: 28px;color: #fff;text-shadow: 5px 5px 1px rgba(0, 0, 0, 0.5);font-weight: bolder;}
.cocoa-owl .coc-slide h2 span.cocoa-slide-count.bigDig{font-size: 40px;float: right;margin-top: -5px;padding-left: 10px;}
.cocoa-owl .coc-slide h4{color: #fff;font-family: 'Gotham-Bold';}
.cocoa-owl .coc-slide p{color: #fff;font-family: 'Gotham';padding-top: 5px;font-size: 14px;}
/*pont3*/
.cocoa-owl .coc-slide h4.point2{color: #fff;font-family: "Gotham-Bold";font-size: 30px;margin-top: 0px;}
.cocoa-owl .coc-slide h5.point2{color: #fff;font-family: "Gotham-Bold";}
.cocoa-owl .coc-slide p.point2{color: #fff;font-family: "Gotham-Bold";font-size: 18px;padding-top: 5px;}
/*point 4*/
.cocoa-owl .coc-slide h1.point3{font-size: 22px;font-family: "Gotham-Bold";text-shadow:none;}
/*point 6*/
.cocoa-owl .coc-slide p.point6{color: #fff;padding-top: 15px;font-family:"Gotham-Bold";text-align: center;font-size: 15px;}
/*last slide*/
.cocoa-owl .coc-slide p.lastslider{color: #fff;font-family:"Gotham";}
#layerslider .ls-bottom-nav-wrapper{display: none;}
.ls-v5 .ls-nav-prev{right:inherit !important;left: 100px; background-position: 10px 12px !important; padding: 10px !important;}
.ls-v5 .ls-nav-prev, .ls-v5 .ls-nav-next{zoom:60%;display:block !important;visibility:visible !important;top: 70% !important;height: 50px !important;width: 50px!important;border: solid 1px #fff !important;border-radius: 50%;}
.ls-v5 .ls-nav-next{background-position: -133px 12px !important; padding: 10px !important}
#homeBannervideo .jw-preview{background-size: cover;}
.cocoa-help-text h4{font-family: "Gotham";text-align: center;padding: 10px 0;color: #fff;}
.vid-slide{padding: 2px;}
.vid-slide p{text-align: center;font-family: "Gotham";color: #fff;padding-top: 10px;}
.vid-slide img.thumb-vid{-webkit-box-shadow: 0px 4px 18px -2px rgba(0,0,0,0.41);
-moz-box-shadow: 0px 4px 18px -2px rgba(0,0,0,0.41);
box-shadow: 0px 4px 18px -2px rgba(0,0,0,0.41);display:inline-block;}
.thumb-play{width: 110px;height: 26px;margin: 0 auto;position: absolute;top: 40%;left: 50%;transform: translate(-50%, -50%);-webkit-transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);-o-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);}
/*more btns*/
.page-mores a img{margin-bottom: 15px;opacity: 0.9;transition:all 100ms ease-in-out;display: block;}
.page-mores a img:hover{opacity: 1;}
/*blur-elements*/
.vid-blur-elem-1, .vid-blur-elem-2, .vid-blur-elem-3{position: absolute;}
.vid-blur-elem-1{right:10%;bottom: 5%;}
.vid-blur-elem-2{left:7%;top: 20%;}
.vid-blur-elem-3{right:7%;top: 22%;}
/*added for new cocoa change*/
/*pop ups for gallery*/
.gl-popup-wrap{display: none;}
/*cocoa wrap mobile*/
.cocoa-wrap-mobile{display: none;}
.view-galery{position:absolute;left:7%;top:130px;}

/*Product Detail Page*/
#kitkat-description{width:100%;max-width:835px;margin:auto;}
.left-panel{width:calc(100% - 260px);float:right;}.right-panel{width:332px;background:transparent;float:right;height:550px;}
.main-product {width:100%;height:400px;background:red;}
.thumbnail-product{width:50%;float:right;background:green;border:1px solid #fff;height:150px;cursor:pointer;}
.thumbnail-product img{width:100px;margin:auto;}
.kitkat-header .header-wrap .main-nav ul.left img{width:80%;}
.center-lines .right-arrow, .center-lines .left-arrow  {display:none;}

.mini-moments{background-size: cover;}
.senses{background-size: cover;}
.buy-mini{margin-bottom: 24px;} .buy-dark{margin-bottom: 12px;} .buy-mini-chunky {margin-bottom: 7px;} .kitkat-chunky{margin-bottom: 22px;} .info-mini-chunky{margin-bottom: 5px;} .info-pop{margin-bottom: 39px;}
.jw-skin-seven .jw-display-icon-container {
    display: none !important;
}
@media screen and (max-width:3000px){
.outer-container .slick-slider{width:1280px;margin: auto;}
.mini-moments{background:#D30C11 url('../images/background/mini_moment_ar_1920x1080.jpg') no-repeat center 100%; background-size: cover;}
.senses{background:#D30C11 url('../images/background/kitkat-senses-ar_1920x1080.jpg') no-repeat center 100%; background-size: cover;}
}
@media screen and (max-width:1599px){
.outer-container .slick-slider{width:960px;margin: auto;}
.mini-moments{background:#D30C11 url('../images/background/mini_moment_ar_1440x900.jpg') no-repeat center 100%; background-size: cover;}
.senses{background:#D30C11 url('../images/background/kitkat-senses-ar_1440x900.jpg') no-repeat center 100%; background-size: cover;}
} 
@media screen and (max-width:1366px){
.mini-moments{background:#D30C11 url('../images/background/mini_moment_ar_1366x768.jpg') no-repeat center 100%; background-size: cover;}
.senses{background:#D30C11 url('../images/background/kitkat-senses-ar_1366x768.jpg') no-repeat center 100%; background-size: cover;}
}
@media screen and (max-width:1299px){
.outer-container .slick-slider{width:640px;margin: auto;}
.page-mores a{display:inline-block;}    
.page-mores{text-align:center;}
.view-galery {position: relative;float: right;width: 100%;left: initial;top: initial; }
} 
@media screen and (max-width: 1024px) {

#kitkat-journey {height: 569px;}	
.slick-dots {bottom: -48px;}	
.stream li.dcsns-instagram .section-thumb img {top: -53%;}	
.kitkat-social .social-wrap .section-heading.social h1::before {width:31%;right:43%;}	
.kitkat-social .social-wrap .section-heading.social h1::after {width:31%;right:26.3%;}
.kitkat-header .header-wrap .main-menu ul.main-menu-innner{left: -25px;}	
.kitkat-header .header-wrap .main-nav ul.left img{margin: 5px auto;width:80%;}
.menu-center .center li{height:85px;}
.mini-moments{background:#D30C11 url('../images/background/mini_moment_ar_1024x768.jpg') no-repeat center 100%; background-size: cover;}
.senses{background:#D30C11 url('../images/background/kitkat-senses-ar_1024x768.jpg') no-repeat center 100%; background-size: cover;}
/* .kitkat-header .header-wrap .main-nav ul{margin: -13px -15px;} */

.menu-center .center li img {width: 117px;margin-top: 7px;}
}
@media screen and (max-width: 991px) { 
h1,h2,h3,.mob-slide-head{text-align:center;}    
#kitkat-journey {height: 548px;}
.kitkat-social .social-wrap .section-heading.social h1::before {width: 25%;right: 52%;}
.kitkat-social .social-wrap .section-heading.social h1::after{width: 25%;right: 23.7%;}
.slick-dots {bottom: -38px;}
.mini-moments{background:#D30C11 url('../images/background/mini_moments_ar_768x1024.jpg') no-repeat center 100%; background-size: cover;}
.senses{background:#D30C11 url('../images/background/kitkat-senses-ar_768x1024.jpg') no-repeat center 100%; background-size: cover;}
/* .kitkat-header .header-wrap .main-nav ul{margin:0px -15px;} */
.time-line ul.slick-dots li {display: none;}
.time-line ul.slick-dots li.slick-active {display: block;margin: 0 auto;}
.time-line ul.slick-dots li a {font-size: 18px;padding: 0;margin-top: 5px;display: block;color: #d1030a;}
.time-line .slick-next {right:58%;background: url("../images/prev.png")no-repeat;background-size: 50%;height: 35px;width: 35px;background-position: left;}	
.time-line .slick-prev {right: 35%;background: url("../images/next.png")no-repeat;background-size: 50%;height: 35px;width: 35px;}
.time-line .time-line-item{height: 413px;}
.right-arrow, .left-arrow{height: 47px;}
.right-arrow {background: url(../images/l-arrow.png) no-repeat top left 2px;background-size: contain;}
.left-arrow {background: url(../images/r-arrow.png) no-repeat top right 2px;background-size: contain;}
.time-line .slick-prev, .time-line .slick-next {bottom: 0;height: 35px;width: 35px;z-index: 22;top:107%; }
.menu-center .center li {height: 85px;}
.container {padding-left: 25px;padding-right: 25px;}	
.menu-left, .menu-center, .menu-right{width:33.33%;}
.page-content{padding-top: 80px;position: relative;left: 0px;-webkit-transition: all 500ms ease;-moz-transition: all 500ms ease;-ms-transition: all 500ms ease;-o-transition: all 500ms ease;transition: all 500ms ease;}
.kitkat-header .header-wrap .nav-wrap{
-webkit-box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.75);
box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.75);
}
.kitkat-header .header-wrap .main-nav ul.right li a{padding-top: 5px}
.kitkat-banner .banner-wrap .banner-carousal .banner-item .animation-element.l-t,.kitkat-banner .banner-wrap .banner-carousal .banner-item .animation-element.l-b,.kitkat-banner .banner-wrap .banner-carousal .banner-item .animation-element.r-b{display: none;}
.kitkat-header .header-wrap .nav-wrap{position: fixed;left: 0;top: 0;width: 100%;}
.kitkat-header .header-wrap .nav-wrap.menu-active{left: 280px;}
.kitkat-header .header-wrap .main-nav{position: relative;}
.kitkat-header .header-wrap .main-nav ul.center{min-height: unset}

.kitkat-header .header-wrap .main-nav ul.right{position: relative;}
.kitkat-header .header-wrap .main-nav ul.right li a.menu-trigger{position: relative;}
.kitkat-header .header-wrap .main-nav ul li{display: inline-block;}
.kitkat-header .header-wrap .main-nav ul.right li{padding: 3px 0 0 0}
.kitkat-header .header-wrap .main-nav ul.right li a img{margin: 0 auto}
.kitkat-header .header-wrap .main-nav ul.right li a i{display: none;}
.kitkat-header .header-wrap .main-menu ul.main-menu-innner{left:-17px;-webkit-transition: all 500ms ease;-moz-transition: all 500ms ease;-ms-transition: all 500ms ease;-o-transition: all 500ms ease;transition: all 500ms ease;}
.kitkat-header .header-wrap .main-menu ul.main-menu-innner.active{top:83px;} 
.kitkat-header .header-wrap .main-menu ul.main-menu-innner li{padding: 8px 0}
/* .kitkat-header .header-wrap .main-nav ul.left img{margin: 5px auto} */
.kitkat-header .header-wrap .main-nav ul.left li{display: inline-block;}
.kitkat-header .header-wrap .main-nav ul.left li.trolley{margin: 0}


.contact-us{height: auto;width: 95%;left: -95%;min-height:400px; }
.contact-us:after{clear: both;content: "";display: block;}
.contact-us-trigger{top: 95px;-webkit-transform: none;-moz-transform: none;-ms-transform: none;-o-transform: none;transform: none}
.contact-us .contact-us-popup{top: 175px;-webkit-transform: none;-moz-transform: none;-ms-transform: none;
-o-transform: none;transform: none;overflow-y: scroll;}
.contact-us .contact-us-popup-inner #contact-us-inner-left-tabs{display: none;}
.contact-us-popup-inner-left.mobile{display: block;}
.contact-us .contact-us-popup .contact-us-popup-inner-left .tabs-content{display: none;}
.contact-us .contact-us-popup{padding: 15px;}
.contact-us .contact-us-popup-inner{padding: 15px 0;background: #ffffff}
.contact-us .contact-us-popup-inner .tabs-content-wrapper{display: none}
.contact-us .contact-us-popup .contact-us-popup-inner-left .tabs-content .tabs-common-inner-section .form-area{height: 290px}
.contact-us .contact-us-popup .contact-us-popup-inner-left ul{display: block;padding: 0;}   
.contact-us .contact-us-popup .contact-us-popup-inner-left ul li{display: block;clear: both;border-radius: 0;width: 100%;border-bottom: 1px solid #ffffff;margin:0 }     
.contact-us .contact-us-popup .contact-us-popup-inner-left ul li a{padding: 10px 15px;color: #ffffff;background: #c4000c;}
.contact-us .contact-us-popup .contact-us-popup-inner-right .new-letter input{background: #e1e1e1}
.contact-us .contact-us-popup .contact-us-popup-inner-right .new-letter button{background: #e1e1e1}
.contact-us .contact-us-popup .contact-us-popup-inner-right .help-line{background: #c4000c;height: 135px}
.contact-us .contact-us-popup .contact-us-popup-inner-right .help-line h3,.contact-us .contact-us-popup .contact-us-popup-inner-right .help-line p{color: #ffffff}
.contact-us .contact-us-popup .contact-us-popup-inner-right .address-box,.contact-us .contact-us-popup .contact-us-popup-inner-right .social strong{color: #c4000c}
.contact-us .contact-us-popup .contact-us-popup-inner-right .address-box{width: 70%;display: inline-block;float: right;padding: 5px 0}
.contact-us .contact-us-popup .contact-us-popup-inner-right .social{width: 30%;display: inline-block;padding: 25px 0;text-align: left;}
.contact-us-popup .contact-us-popup-inner-left .tabs-content .form-area .file-upload{clear: both;position: relative;z-index: 1;}
.contact-us-popup .contact-us-popup-inner-left .tabs-content .tab-inner-section-items-popups{top: 2px;padding: 15px;width: 100%;}
.contact-us .contact-us-popup .contact-us-popup-inner-left .tabs-content .tabs-common-inner-section{padding: 10px;background: transparent;border-radius: 0;margin: 0 5px;width: 100%;}
.contact-us .contact-us-popup-inner .contact-us-inner-left-tabs .tabs-common-inner-section p strong{font-family: "Gotham"}
.contact-us .contact-us-popup .contact-us-popup-inner-left .tabs-content .tabs-common-inner-section h3{margin: 10px 0}
.contact-us .contact-us-popup .contact-us-popup-inner-left .tabs-content .tabs-inner-section{position: unset;padding: 0 15px;border-radius: 0}
.contact-us .contact-us-popup .contact-us-popup-inner-left .tabs-content{border-radius: 0}
.contact-us-popup .contact-us-popup-inner-left .tabs-content .tab-inner-section-items-popups .form-area .message-row-1, .contact-us-popup .contact-us-popup-inner-left .tabs-content .tab-inner-section-items-popups .form-area .message-row-2{width: 100%;clear: both}
.contact-us-popup .contact-us-popup-inner-left .tabs-content .form-area select{width: 100%}
.contact-us .contact-us-popup .contact-us-popup-inner-left .tabs-content .tabs-common-inner-section h5{color: #8a0015;clear: both;}
.contact-us-popup .contact-us-popup-inner-left .tabs-content .tab-inner-section-items-popups .form-area .message-row-2 label{width: 100%}
.contact-us-popup .contact-us-popup-inner-left .tabs-content .tab-inner-section-items-popups .form-area button{width: 120px;float: left;}
.contact-us-popup .contact-us-popup-inner-left .tabs-content .tab-inner-section-items-popups .privacy-statement-details{position: absolute;bottom: 0;width: 100%;top: 465px;height: 200px}
.contact-us-popup .contact-us-popup-inner-left .tabs-content .privacy-statement-details{border-radius: 8px}
.contact-us .contact-us-popup .contact-us-popup-inner-left .tabs-content .tabs-common-inner-section li.call-us-item{clear: none;}
.contact-us .contact-us-popup .contact-us-popup-inner-left .tabs-content .tabs-common-inner-section .call-us-inner h4{text-align: center;}
.contact-us .contact-us-popup .contact-us-popup-inner-left .tabs-content p{padding: 0 15px}
.contact-us .contact-us-popup .contact-us-popup-inner-left .call-us-moble .tabs-common-inner-section h3{margin: 0}
.contact-us .contact-us-popup .contact-us-popup-inner-left .tabs-content .tabs-common-inner-section{height: auto;}
.contact-us .contact-us-popup .contact-us-popup-inner-left .tabs-content .tabs-common-inner-section ul{padding: 5px 0}
.contact-us .contact-us-popup .contact-us-popup-inner-left .call-us-moble .tabs-common-inner-section h5{text-align: center;}
.contact-us .contact-us-popup .contact-us-popup-inner-left .call-us-moble .tabs-common-inner-section h2{color: #d1030a;text-align: center;margin: 5px 0 5px 0;}
.contact-us .contact-us-popup .contact-us-popup-inner-left .call-us-moble .tabs-common-inner-section p{text-align: center;}
.contact-us .contact-us-popup .contact-us-popup-inner-left .call-us-moble.tabs-content{height: auto;}
.contact-us .contact-us-popup .contact-us-popup-inner-left .tabs-content .tabs-common-inner-section .form-area .chat-now{height: 125px;padding: 30px;margin-bottom: 15px}
.contact-us .contact-us-popup .contact-us-popup-inner-left ul li i{margin-top: 3px;float: left;
  -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
       -o-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 300ms ease-in-out ;
     -moz-transition: all 300ms ease-in-out ;
      -ms-transition: all 300ms ease-in-out ;
       -o-transition: all 300ms ease-in-out ;
          transition: all 300ms ease-in-out ;
}
.contact-us .contact-us-popup .contact-us-popup-inner-left ul li.active i{
  -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
       -o-transform: rotate(90deg);
          transform: rotate(90deg);
}
.contact-us .contact-us-popup .contact-us-popup-inner-left .email-us-mobile-slide{background: #f5f5f5}
.contact-us .contact-us-popup .contact-us-popup-inner-left .call-us-moble .tabs-common-inner-section,.contact-us .contact-us-popup .contact-us-popup-inner-left .chat-moble .tabs-common-inner-section,.contact-us .contact-us-popup .contact-us-popup-inner-left .faq-moble .tabs-common-inner-section {padding: 10px 0;margin: 0}
.contact-us .contact-us-popup .contact-us-popup-inner-left .chat-moble .tabs-common-inner-section .form-area{height: 510px}
.contact-us .contact-us-popup .contact-us-popup-inner-left .tabs-content,.contact-us .contact-us-popup .contact-us-popup-inner-left .tabs-content .tabs-inner-section{padding: 0}
.contact-us .contact-us-popup .contact-us-popup-inner-left .tabs-content p{padding:10px 15px;background: transparent;}
.contact-us .contact-us-popup .contact-us-popup-inner-left .tabs-content .tabs-common-inner-section .faq-inner{padding: 0 8px}
.contact-us .contact-us-popup .contact-us-popup-inner-left .tabs-content{height: auto; }
.contact-us .contact-us-popup .contact-us-popup-inner-left #email-us{min-height: 750px}
.contact-us .contact-us-popup .contact-us-popup-inner-left .tabs-content .tabs-common-inner-section .form-area{height: auto;}
.contact-us .contact-us-popup .contact-us-popup-inner-left #call-us .tabs-common-inner-section .call-us-inner{height: 475px}
#chat-with-us .tabs-common-inner-section{padding: 10px;}
#chat-with-us .tabs-common-inner-section form,#chat-with-us .tabs-common-inner-section > p{padding: 0}
.tabs-contents{width: 100%;padding: 0;}
.contact-us-popup .contact-us-popup-inner-left #chat-with-us .form-area textarea{height: 125px}
.contact-us .contact-us-popup .contact-us-popup-inner-left .tabs-content .tabs-common-inner-section .form-area .chat-now{margin-top: 0}
.tabs-contents li.tab-act{display: block;}
.tabs-contents li.tab-act div.mob-toggle-btn{background: url(../images/right-white.png)no-repeat 95% #D1030A;width: 100%;color: #fff;text-align: left;clear: both;padding: 10px;font-family: "Gotham-Bold";}
.tabs-contents li.tab-act .content{display: none;padding:0 20px 10px 20px;}
.info-tab-content.tabs-contents li.tab-act .content h4{opacity: 0;margin: 0;}
.mob-activeTab{background: url(../images/right-down.png)no-repeat 95% #D1030A !important;color: #fff !important;}
.info-active{display: block !important;}
.contact-us .contact-us-popup .contact-us-popup-inner-left .tabs-content .tabs-inner-section.active{overflow-y: scroll;}
.contact-us .contact-us-popup .contact-us-popup-inner-right .new-letter{padding-top: 5px;margin-bottom: 5px}
.contact-us .contact-us-popup .contact-us-popup-inner-left .tabs-content .tabs-inner-section .tab-inner-section-item{margin: 15px auto}
.contact-us-popup .contact-us-popup-inner-left .tabs-content .tab-inner-section-items-popups{padding: 0;height: 750px}
.contact-us-popup .contact-us-popup-inner-left .tabs-content .tab-inner-section-items-popups .form-area{height: auto;}
.contact-us-popup .contact-us-popup-inner-left .tabs-content .tab-inner-section-items-popups.active{height: 830px;background: #f5f5f5}
.contact-us-popup .contact-us-popup-inner-left .tabs-content .tab-inner-section-items-popups .form-area{margin-bottom: 25px}


/* .time-line{height: 570px} */
.time-line .time-line-item{padding: 0px;margin: 0 50px}
.time-line .item-image.y-1935, .time-line .item-image.y-1937, .time-line .item-image.y-1944, .time-line .item-image.y-1949, .time-line .item-image.y-1950, .time-line .item-image.y-1958, .time-line .item-image.y-1960, .time-line .item-image.y-1969, .time-line .item-image.y-1970, .time-line .item-image.y-1987, .time-line .item-image.y-1988, .time-line .item-image.y-1999, .time-line .item-image.y-2000, .time-line .item-image.y-2005, .time-line .item-image.y-2006, .time-line .item-image.y-2015, .time-line .item-image.y-2016{width: 100%}
.time-line .item-content.y-1935{margin-right:60px}
.time-line .item-content2.y-1935{width: 240px;}
.time-line .item-image.y-1935{margin-top: 80px}
.time-line .item-content.y-1937 {top: 115px;}
.time-line .item-arrow.y-1944{top: 130px}
.time-line .item-content.y-1949{}
.time-line .item-arrow.y-1958{top: 205px}
.time-line .item-arrow.y-1960{top: 195px}
.time-line .item-content.y-1969{right: 50px;top:130px}
.time-line .item-image.y-1988{margin-top: -45px}
.time-line .item-image.y-1999 {margin-top: -30px;}
.time-line .item-content.y-1999{right: 50px}
.time-line .item-arrow.y-1999{right: 335px}
.time-line .item-image.y-2000{margin-top: -75}
.time-line .item-image.y-2006{margin-top: -35px}
.time-line ul.slick-dots li{width: 55px}
.time-line .item-video.y-2015{top: 185px}


/*cocoa page video add on*/
.cocoa-intro-vid{padding-top: 70px;}
.vid-blur-elem-1, .vid-blur-elem-2, .vid-blur-elem-3{display: none;}
.cocoa-intro-vid{height: auto;}
.page-mores a{display: inline-block;}
/*cocoa wrap mobile*/
.cocoa-wrap{display: none;}
.cocoa-close-btn{top: 120px;}
.cocoa-wrap-mobile{display: none;min-height: 400px;padding-top: 80px;background: url(../images/cocoa/cocoa-bg.jpg)repeat;}
.cocoa-mob-slide.owl-carousel .owl-controls .owl-nav .owl-prev{color: #fff;position: absolute;right: 10px;top: 45%;z-index: 12;}
.cocoa-mob-slide.owl-carousel .owl-controls .owl-nav .owl-prev img{zoom:50%;}
.cocoa-mob-slide.owl-carousel .owl-controls .owl-nav .owl-next{color: #fff;position: absolute;left: 10px;top: 45%;z-index: 12;}
.cocoa-mob-slide.owl-carousel .owl-controls .owl-nav .owl-next img{zoom:50%;}
/*common slide style*/
.mob-story-slide{padding-bottom: 50px;}
.mob-story-slide .mob-slide-head h2.introhead{color: #fff;font-family: "Gotham-Bold";text-align: center;margin-top: 0;}
.mob-story-slide .mob-slide-img{max-width: 100px;display: block;text-align: center;margin: 0 auto;}
.mob-story-slide .mob-slide-text h1.intro-digit{font-size: 92px;color: #fff;text-shadow: 4px 4px 1px rgba(0, 0, 0, 0.5);margin-bottom: 0;}
.mob-story-slide .mob-slide-text h2.intro-text{color: #fff;text-shadow: 4px 4px 1px rgba(0, 0, 0, 0.5);margin-bottom: 0;margin-top: 0;}
/*ponts head*/
.mob-story-slide .mob-slide-head h2.pointheads{color: #fff;text-align: center;margin-top: 0;text-shadow: 4px 4px 1px rgba(0, 0, 0, 0.5);}
.mob-story-slide .mob-slide-head h2.pointheads span{color: #fff;font-size:70px;text-align: center;margin-top: 0;font-family: "DOCK11-Heavy";vertical-align: middle;}
.mob-story-slide .mob-slide-point-img{max-width: 400px;display: block;text-align: center;margin: 0 auto;}
.mob-story-slide .mob-slide-text h4.pointtext{color: #fff;font-family: "Gotham-Bold";text-align: center;}
.mob-story-slide .mob-slide-text h4.pointtext-sub{color: #fff;font-family: "Gotham-Bold";text-align: center;line-height: 26px;}
/*point 3*/
.mob-story-slide .mob-slide-head span.points-out-digits{color: #fff;font-size:70px;text-align: center;margin-top: 0;font-family: "DOCK11-Heavy";vertical-align: middle;text-shadow: 4px 4px 1px rgba(0, 0, 0, 0.5);}
.mob-story-slide .mob-slide-head h3.point-head-text{color: #fff;text-shadow: 4px 4px 1px rgba(0, 0, 0, 0.5);margin-bottom: 0;margin-top: 0;display: inline-block;vertical-align: middle;text-align: right;}
.mob-story-slide .mob-slide-point-img.point3{max-width: 300px;}
.mob-story-slide .mobile-exp-3 h2.exp-3-head{color: #fff;font-family: "Gotham-Bold";text-align: center;}
.mob-story-slide .mobile-exp-3 p.exp-3-text{color: #fff;font-family: "Gotham";text-align: center;font-size: 20px;padding-bottom: 20px;}
.mob-story-slide .mobile-exp-3-down h2.exp-3-down-head{color: #fff;font-family: "Gotham-Bold";text-align: center;}
/*point-4*/
.mob-story-slide .mob-slide-point-img.point-4{max-width: 300px;}
/*point 5*/
.mob-story-slide .ext-5-imgs{padding-top: 30px;}
.mob-story-slide .ext-5-imgs .uk-badge{width: 100px;display: inline-block;text-align: center;vertical-align: 35px;margin-right: -60px;position: relative;z-index: 10;}
.mob-story-slide .ext-5-imgs .uk-val{width: 180px;display: inline-block;text-align: center;position: relative;z-index: 10;}
.mob-story-slide .mob-slide-point-img.point-5{max-width: 100%;margin-top: -50px;}
/*point 6*/
.mob-story-slide .ext-6-text h3{color: #fff;font-family: "Gotham-Bold";text-align: center;clear: both;}
.mob-story-slide .ext-6-imgs{padding-top: 30px;clear: both;}
.mob-story-slide .ext-6-imgs .iv-mob{width: 180px;display: inline-block;text-align: center;vertical-align: -5px;position: relative;z-index: 10;}
.mob-story-slide .ext-6-imgs .ghana-mob{width: 180px;display: inline-block;text-align: center;position: relative;z-index: 10;}
.mob-story-slide .mob-slide-point-img.point-6{max-width: 250px;}
.mob-story-slide .ext-6-text-down p{color: #fff;font-family: "Gotham-Bold";text-align: center;clear: both;font-size: 18px;padding: 15px;line-height: 24px;} 
/*point-7*/
.mob-story-slide .mob-slide-head span.points-out-digits.v-top-mob-align{vertical-align: 0;}
/*point 10*/
.mob-story-slide .mob-slide-point-img.point-10{max-width: 90%;}
/*point 11*/
/*.mob-story-slide .point-11-img img{max-width: 250px;}*/
.mob-story-slide .point-11-content{padding: 5px;}
.mob-story-slide .point-11-content h4{color: #fff;font-family: "Gotham-Bold";text-align: right;padding-top: 30px;}
.mob-story-slide .point-11-content p{color: #fff;font-family: "Gotham";text-align: right;font-size: 14px}
.mob-story-slide .ext-11-down p{color: #fff;font-family: "Gotham-Bold";text-align: right;font-size: 20px;text-align: center;padding-top: 30px;}
/*end slide*/
.mob-slide-text.end-slide{max-width: 300px;margin: 0 auto;}
.mob-slide-text.end-slide p.mob-end-text{color: #fff;font-family: "Gotham-Bold";font-size: 15px;}
.mob-slide-text.end-slide p.mob-end-text-learn{color: #fff;font-family: "Gotham";font-size: 15px;}
.mob-slide-text.end-slide p.mob-end-text-learn a{color: #fff;font-family: "Gotham-Bold";font-size: 15px;}
}

@media screen and (max-width:959px){
.outer-container .slick-slider{width:320px;margin: auto;}
.left-panel,.right-panel{width:100%;float:none;}
} 

@media screen and (max-width: 800px){
.stream li.dcsns-instagram .section-thumb img {width: 170%;top: -45%;}
/*Product description page*/
.left-panel,.right-panel{width:100%;float:none;}
}
@media screen and (max-width: 767px){
.pushbody{left:calc(100% - 95px) !important;-webkit-transition: all 500ms ease;-moz-transition: all 500ms ease;-ms-transition: all 500ms ease ;-o-transition: all 500ms ease;transition: all 500ms ease;}	
.mini-moments{background:#D30C11 url('../images/background/mini_moments_ar_640x1280.jpg') no-repeat center 100%;background-size: cover;}
.senses{background:#D30C11 url('../images/background/senses_ar_640x1280.jpg') no-repeat center 100%;background-size: cover;}
.time-line ul.slick-dots li {display: none;}
.time-line ul.slick-dots li a {font-size: 18px;padding: 0;margin-top: 5px;display: block;color: #d1030a;}
.time-line ul.slick-dots li.slick-active {display: block;margin: 0 auto;}

	
/*SOcial sphere home page*/
.kitkat-social .social-wrap {padding: 20px 0 0 0;}
.kitkat-social .social-wrap .section-heading.social h1 {font-size: 2.5em;margin-bottom: 15px;}	
.kitkat-social .social-wrap .section-heading.social h1 img {clear: both;display: block;margin: 0 auto;width: 125px;}
.kitkat-social .social-wrap .section-heading.social .before-after-line {display: block;}
.kitkat-social .social-wrap .section-heading.social .before-after-line .line-left {width: 20%;position: absolute;right: 5%;
height: 1px;color: #ffffff;background: #ffffff;}	
.kitkat-social .social-wrap .section-heading.social .before-after-line .line-right {width: 20%;position: absolute;left: 5%;height: 1px;color: #ffffff;background: #ffffff;}
.kitkat-social .dcsns ul li:nth-child(n+1) {transform: none !important;}
.kitkat-social .dcsns ul li {width: 100% !important;height: 225px;}
.stream li {clear: both;}
.kitkat-social .dcsns ul li:nth-child(n+2) {transform: none !important;/* top: 225px !important; */}
.kitkat-social .dcsns ul li {width: 100% !important;height: 225px;}
.stream li.dcsns-instagram .section-thumb img {width: 102%;}
.stream li.dcsns-youtube .section-thumb img {width: 110%;max-width: unset;}
.kitkat-social .social-wrap .section-heading.social h1 img {clear: both;display: block;margin: 0 auto;width: 125px;}
.kitkat-social .social-wrap .section-heading.social h1::before,.kitkat-social .social-wrap .section-heading.social h1::after{display: none;}


.kitkat-header .header-wrap .main-menu ul.main-menu-innner.active {
left: -8px;top: 0px;-webkit-box-shadow: -2px 0px 25px 2px rgba(0,0,0,0.75);-moz-box-shadow: -2px 0px 25px 2px rgba(0,0,0,0.75);box-shadow: -2px 0px 25px 2px rgba(0,0,0,0.75);}

.kitkat-header .header-wrap .main-menu ul.main-menu-innner {left: -280px;top: 0px;}
.kitkat-header .header-wrap .main-menu ul.main-menu-innner {padding: 0;height: 900px;}

/* footer styles*/
.kitkat-footer .footer-wrap .social ul.social-navs li{display: inline-block;}
.kitkat-footer .footer-wrap .social ul.social-navs span{display: block;clear: both; margin-bottom: 15px;}
.kitkat-footer .footer-wrap .social{padding: 0 15px;}
.kitkat-footer .footer-wrap .social p:nth-child(2){margin-top: 5px}
.kitkat-footer .footer-wrap .container{padding-right:10px;padding-left:10px;}

/*Cocoa plan*/
.thumbnails{width:50%;text-align: center;}
}

@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : landscape)  {

.mini-moments{background:#D30C11 url('../images/background/mini_moments_ar_1280x640.jpg') no-repeat center 100%;background-size:cover;}
.senses{background:#D30C11 url('../images/background/senses_ar_1280x640.jpg') no-repeat center 100%;background-size:cover;}

}

 @media screen and (max-width:640px){
/*.outer-container .slick-slider{width: 320px;margin: auto;}*/
#usual-breaker .outer-container .section-heading{z-index: 10;}
.outer-container .center-lines{z-index: 10;}
} 


@media screen and (max-width: 480px){
.stream li .icon{bottom: 132px;}	
.time-line .time-line-item {height: 346px;}	
.menu-center .center li img{margin-top:11px;width: 97px;}   	
.section-heading h1{font-size: 2.05em;}
.kitkat-header .header-wrap .main-menu ul.main-menu-innner.active {left:-14px;}
.kitkat-header .header-wrap .nav-wrap.active {left: 266px;}
.kitkat-footer.active,.page-content.active {left: 266px;}
.kitkat-header .header-wrap .nav-wrap{padding:0px !important;}
.kitkat-header .header-wrap .main-nav ul{margin: -8px -2px;}
.time-line .time-line-item div p{margin-top:30px;}
#kitkat-journey{height:479px;}
.center-lines .right-arrow, .center-lines .left-arrow {display: block;position: absolute;top: 60%;width: 55px;height: 55px;z-index: 99999;cursor:pointer;}
.center-lines .left-arrow{background: url(../images/r-arrow.png) no-repeat top right 2px;background-size: 70%;right:30px}
.center-lines .right-arrow{background: url(../images/l-arrow.png) no-repeat top left 2px;background-size: 70%;right: 100%;margin-right: -86px;}
.left-scale .right-arrow, .right-scale .left-arrow  {display:none;}
.time-line .slick-prev {right: 29%;}
}

@media screen and (max-width: 375px) {
.time-line .slick-next{right: 60%;}
.time-line .slick-prev{right: 26%;}
.page-content{padding-top: 50px}
.kitkat-header .header-wrap .nav-wrap{padding: 15px 0}
.kitkat-header .header-wrap .main-nav ul.center li{top: -20px}
.kitkat-header .header-wrap .main-nav ul.left img{width: 75px;margin: 10px auto}
.kitkat-header .header-wrap .main-menu ul.main-menu-innner li:first-child{height: 85px}
.kitkat-header .header-wrap .main-menu ul.main-menu-innner li:first-child a{margin-top: 15px;display:inline-block;}
.kitkat-header .header-wrap .main-menu ul.main-menu-innner li:first-child img{margin: 0 5px;width: 80px;}
.kitkat-header .header-wrap .main-nav ul.right{margin-top:15px;}
/*.buy-trolley img{width: 25px;}*/
.kitkat-header .header-wrap .main-nav ul.right li a.menu-trigger{}
.kitkat-social .social-wrap .section-heading.social .before-after-line .line-left{width: 8%}
.kitkat-social .social-wrap .section-heading.social .before-after-line .line-right{width: 8%}

.usual-breakers .usual-breakers-item .ub-item-image.large-bag, .usual-breakers .usual-breakers-item .ub-item-image.large{width: 100%}

.kitkat-social .social-wrap .counting-text{font-size: 26px}
.stream li.dcsns-instagram .section-thumb img{width: 110%;top: -42%}
    .kitkat-social .dcsns ul li{height: 198px;}
}

@media screen and (max-width:360px){
/*Cocoa plan*/
.thumbnails{width:100%;}
.kitkat-header .header-wrap .main-nav .contact-button{bottom: -31px;left: -26px;width: 142px;}
.kitkat-header .header-wrap .main-nav ul.right{float: left;}
}