@import url("../fonts/font.css");
.contact-us {
	background: #de2127;
	width: 1000px;
	height: 595px;
    font-family: "Gotham";margin: auto;
}
.contact-us h3 {
    color: #de2127;
    margin-top: 0;padding: 10px;
}
.contact-us .left-panel {
	width: 664px;
	padding-right: 10px;
	display: block;
	float: right;
}
.left-content-comment-container, .left-content{position:absolute;padding-left: 16px}
.left-content p span {
    font-size: 16px;
    font-weight: 700;
}
.contact-us .left-panel .accordions div { 
	height: 100% !important;
}
.contact-us .left-panel ul.tab-heading {
	padding-top: 40px;
	padding-right: 10px;
}
.contact-us .left-panel ul.tab-heading li {
	padding: 10px 20px;
	background: #dde5e9;
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.contact-us .left-panel ul.tab-heading li a {
	color: #de2127;
}
.contact-us .left-panel ul li.r-tabs-state-active{
	background: #fff;
}
.contact-us .left-panel .item {
	width: 654px;
	height: 485px;
	background: #fff;
	border-radius: 8px;position: relative;
}
.contact-us .left-panel .item .email-section {
	background: #f5f5f5;
	padding: 1px 15px 35px 15px; 
}
.contact-us .left-panel .item .comment, 
.contact-us .left-panel .item .advice, 
.contact-us .left-panel .item .question {
	display: inline-block;
	width: 31%;
	text-align: center;
}
ul.contact-countries-list {
    padding-left: 0;
}
.call-us-item {
	display: inline-block;
    width: 23%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.call-us-item .calling-number {
    font-weight: 700;
    direction: ltr;
}
.call-us-item p {
    margin: 0;
    text-align: center;
}
li.call-us-item:hover {
    background: #8a0015;
    color: #fff;
}
.call-us-item span {
	font-size: 12px;
}
.contact-us .right-panel-content {
	width: 296px;
	display: block;
	float: left;
	margin-left: 15px;
}

.contact-us-form2 input, .contact-us-form1 input {
	background: #fff;
    outline: none !important;
    border: 1px solid #cdcdcd;
    padding: 5px 10px;
    border-radius: 5px;
    height: 35px;
    float: left;
    display: inline-block;
    margin-bottom: 12px;
    margin-top: 1px;
    color: #666666;
}
.contact-us-form1 textarea {
	background: #fff;
    outline: none !important;
    border: 1px solid #cdcdcd;
    padding: 15px;
    border-radius: 5px;
    width: 100%;
    height: 287px;
    float: left;
    display: inline-block;
    margin-bottom: 12px;
    color: #666666;
    resize: none;
}

.contact-us-form2 textarea {
	background: #fff;
    outline: none !important;
    border: 1px solid #cdcdcd;
    padding: 15px;
    border-radius: 5px;
    width: 100%;
    height: 135px;
    float: left;
    display: inline-block;
    margin-bottom: 12px;
    color: #666666;
    resize: none;
}
.contact-us-form1 .chat-now-container {
	height: 287px;
}
.contact-us-form1 .chat-now {
	text-align: center;
	height: 155px;
    margin: 0;
    padding: 40px 30px;
    border: 1px solid #bababa;
    background: #ececec;
    border-radius: 8px;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    width: 230px;
}
.form-closer {
	float: left;
    cursor: pointer;
    margin: 8px;
}
.form-area-select {
	background: url("../images/down.png") no-repeat center left 12px;
    outline: none !important;
    border: 1px solid #cdcdcd;
    padding: 5px 10px;
    color: #666666;
    border-radius: 5px;
    height: 35px;
    float: left;
    display: inline-block;
    margin-bottom: 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.form-area-option {	
	cursor: pointer;
    background-color: #666666;
    outline: none !important;
    color: #ffffff;
    padding: 10px;
    height: 35px;
    clear: both;
    border: none;
    outline: none;
}
input.checkboxes {
	height: initial;
    margin-right: 5px;
    margin-top: 3px;
}
.contact-us-send {
    background: #d1030a;
    border: none;
    border-radius: 5px;
    display: block;
    color: #ffffff;
    font-size: 20px;
    padding: 5px 30px;
    margin-top: 20px;
}
.new-letter {margin-top: 78px;}
.new-letter input {
	background: #ffffff;
    outline: none !important;
    border: none;
    padding: 5px 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 45px;
    width: 85%;
    float: left;
    display: inline-block;
    border-right: 1px solid #b3b3b3;font-size: 0.9em;
}
.new-letter button {
	background: #ffffff;
    color: #d1030a;
    outline: none !important;
    border: none;
    padding: 5px 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 45px;
    width: 15%;
    display: inline-block;
    font-size: 16px;
    text-align: center;
}
.help-line {
	background: #ffffff;
    border-radius: 5px;
    position: relative;
    padding: 0 0 20px 20px;
    margin-top: 20px;
}
.help-line h3 {
	display: inline-block;
    color: #de2127;
}
.help-line h3.helpline-number {
    margin: 0;
}
.help-line img {
	float: right;
}
.address-box {
	margin-top: 10px;
	margin-bottom: 10px;
    color: #fff;
}
.right-panel .social li {
	display: inline-block;
}
.right-panel .social ul {
	padding-right: 0;
}
.offer-statement p, .privacy-statement p {
    font-size: 12px;
}
.attach-file-box{margin-bottom: 5px;}
span.attach-file {
    font-size: 12px;
    padding-right: 10px;
}
div.accordions.ui-helper-reset {
    max-height: 350px;
    overflow: scroll;
}
.accordions h3, .accordion h3 {
     font-family: "Gotham";
     color: #000;
} 
.accordions .ui-accordion-header-active {
    color: #de2127;
}
.accordion .ui-accordion-header-active {
    color: #000;
}
.accordion p {
    font-family: "Gotham";
}
.social h4 {
    color: #fff;
    margin-bottom: 5px;
}
.address-box .company-name {
    font-weight: 700;
}
@media screen and (max-width: 1000px) {
	.contact-us .left-panel, .contact-us {
		width: 100%;
        height: 100%;
	}
    .contact-us .left-panel {
        background: #fff;
        padding: 5px;
    }
	.contact-us .right-panel-content {
		width: 100%;
        margin: 0;
	}
    .r-tabs .r-tabs-accordion-title {
        font-weight: 700;
        background: #de2127;
        margin-bottom: 2px;
    }
    a.r-tabs-anchor {
        padding: 20px 10px;
        display: block;
    }
    .contact-us-popup-inner-right {
        margin-right: auto;
        margin-left: auto;
        width: 296px;
    }
   .new-letter {
        margin-top: 20px;
    }
    .contact-us .left-panel .item {
        width: 100%;
        height: 100%;
        padding: 0;
    }
    .contact-us-form2 input, .contact-us-form1 input {
        width: 100%;
    }
    .contact-us-form1 textarea {
        height: 155px;
    }
    input.checkboxes {
        width: auto;
    }
    .form-area-select {
        width: 100%;
    }
    .contact-us-form1 .chat-now-container {
        height: auto;
    }
    .contact-us-form1 .chat-now {
        position: static;
        width: 100%;
    }

}
@media screen and (max-width: 480px) {
    .contact-us .left-panel .item .comment, 
    .contact-us .left-panel .item .advice, 
    .contact-us .left-panel .item .question {
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .call-us-item {
        width: 47%;
    }
    .contact-us-form2 input, .contact-us-form1 input {
        width: 100%;
    }
    .contact-us-form1 textarea {
        height: 155px;
    }
    .contact-us-form1 .chat-now-container {
        height: auto;
    }
    .contact-us-form1 .chat-now {
        position: static;
        width: 100%;
    }
    .form-area-select {
        width: 100%;
    }
    input.checkboxes {
        width: auto;
    }
}