
.products {
	padding-top: 40px;
	height: auto;
}
.product-list {
	margin-top: -2.5%;
	position: relative;
	z-index: 9;
}
.kitkat-ranges-content  {
	margin-top: 20px;
}
.kitkat-ranges-content h4 {
	color: #fff;
	padding:0px 30px;
	font-size: 17px;
	min-height: 50px;text-align:center;
	font-weight: bold;
}
.products .item {
	height: 740px;
	position: relative;
	outline: none;
}
.kitkat-ranges-content p {
	color: #fff;
	font-size: 12px;
	padding:0px 25px;
}
.product-list .slick-prev {
    background-position: right center;
    background-size: 40px auto !important;
    height: 55px !important;
    right: 0px !important;
	left: auto !important;
    top: 40% !important;
    width: 55px !important;
}
.tear-medium {
    background: url(../images/product-range/tear-medium.png) center center no-repeat !important;
    top: -73px !important;
}
.tear-small {
    background: url(../images/product-range/tear-small.png) center center no-repeat !important;
    top: -93px !important;
}
.product-list .slick-next {
    background-position: left center;
    background-size: 40px auto !important;
    height: 55px !important;
    left: 0px !important;
	right:auto !important;
    top: 40% !important;
    width: 55px !important;
}
.product-r-gradient {
	position: absolute;
    padding: 0px;
    z-index: 0;
    background: #ec0408;
    background: -moz-linear-gradient(top, #ec0408 0%, #dd0306 27%, #d10205 54%, #c20205 77%, #bb0104 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #ec0408), color-stop(27%, #dd0306), color-stop(54%, #d10205), color-stop(77%, #c20205), color-stop(100%, #bb0104));
    background: -webkit-linear-gradient(top, #ec0408 0%, #dd0306 27%, #d10205 54%, #c20205 77%, #bb0104 100%);
    background: -o-linear-gradient(top, #ec0408 0%, #dd0306 27%, #d10205 54%, #c20205 77%, #bb0104 100%);
    background: -ms-linear-gradient(top, #ec0408 0%, #dd0306 27%, #d10205 54%, #c20205 77%, #bb0104 100%);
    background: linear-gradient(to bottom, #ec0408 0%, #dd0306 27%, #d10205 54%, #c20205 77%, #bb0104 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec0408', endColorstr='#bb0104', GradientType=0 );
    -webkit-box-shadow: 0px 1px 5px #000000;
    -moz-box-shadow: 0px 1px 5px #000000;
    -ms-box-shadow: 0px 1px 5px #000000;
    -o-box-shadow: 0px 1px 5px #000000;
    box-shadow: 0px 1px 5px #000000;
    position: absolute;
	min-height: 400px;
	bottom: -70px;
	width: 100%;
}

.kitkat-ranges {
	background:none;
	/*background: #bc0104;
	background: -moz-linear-gradient(top,  #bc0104 0%, #ea0408 100%); 
	background: -webkit-linear-gradient(top,  #bc0104 0%,#ea0408 100%); 
	background: linear-gradient(to bottom,  #bc0104 0%,#ea0408 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc0104', endColorstr='#ea0408',GradientType=0 ); */
}
.product-picture {
	bottom: 0;
    display: inline-block;
    height: 520px;
    position: relative;
    /* vertical-align: bottom; */
    width: 100%;
    z-index: 1;
}
.kitkat-ranges-content {
	position: inherit;
}
.kitkat-ranges {
	position: relative;
	width: auto;
	height: auto;
	z-index: 1;
}
.product-slider-inner {
	position: absolute;
	width: 100%;
	left: 50%;
	top: 85%;
	transform: translate(-50%, -85%);
	-webkit-transform: translate(-50%, -85%);
	-o-transform: translate(-50%, -85%);
	-moz-transform: translate(-50%, -85%);
	text-align: center;
}
.product-wrap {
	position: relative;
}
.kr-inner-bottom-wrapper {
	position: absolute;
	width: 100%;
	min-height: 330px;
	bottom: 0px;
	/*background:url(../images/product-range/gr-seperator.png);
	background-size: cover;
	background-position: center top;*/
	z-index: -1;
	opacity: .3;
}
.product-wrap h1 {
	color: #D10002;text-align:center;
}
.product-picture img {
    display: inline-block;
    vertical-align: bottom;
    position: absolute;
    left: 50%;
	bottom: 0%;
	transform: translate(-50%, 0%);
	-webkit-transform: translate(-50%, 0%);
	-o-transform: translate(-50%, 0%);
	-moz-transform: translate(-50%, 0%);
}
.tear-container {
	width: 50px;
	height: 520px;
	background-color: green;
	position: absolute;
	right: 0px;
	top: -50px;
	background: url(../images/product-range/tear-here-bg.png) center center no-repeat;
}
.tear-container a {
	margin-top: 10px;
    display: block;
    position: absolute;
    bottom: 14px;
    z-index: 999;
    left: 7px;
}
















/*  Media quiries  */
@media (max-width: 1024px) {

}
@media(max-width: 768px) {
	.products {
		height: auto;
	}
	.products .kitkat-ranges-content p{
		color: #fff;
		text-align: center;
	}
	.products .item {
		height: 700px;
	}
	.products .item img {
		margin-top: 10px;
	}
	./*product-picture {
	    bottom: auto;
	    width: auto;
	}*/
	.kitkat-ranges-content {
		position: inherit;
	}
	.kitkat-ranges {
		width: auto;
		height: auto;
	}
}

@media (max-width:640px) {
	.product-list .slick-prev {
	    background-position: right center;
	    background-size: 40px auto !important;
	    height: 55px !important;
	    right: 0px !important;
		left: auto !important;
	    top: 40% !important;
	    width: 55px !important;
	}
	.product-list .slick-next {
	    background-position: left center;
	    background-size: 40px auto !important;
	    height: 55px !important;
	    left: 0px !important;
		right: auto !important;
	    top: 40% !important;
	    width: 55px !important;
	}
}


@media (max-width:480px) {
	.products .item{width:375px !important;}
}
@media (max-width: 430px) {
    .products{margin-top:0px;}
	.products .slick-slider { width: 100% !important;}
	.kr-inner-bottom-wrapper {background:none !important;}
}
@media (max-width:360px) {
	.products .item{width:360px !important;}
    .tear-container{right: 5px;}
    .twentytwenty-container .twentytwenty-handle{right: 0px;}
}
@media (max-width:320px) {
	.products .item{width:320px !important;}
}

/* +++++++++++++++++++++++++++++++++++++++++
	min width for  kitkat range slider
+++++++++++++++++++++++++++++++++++++++++++ */

@media (min-width: 0px) {
	.products .slick-slider {
		width: 100% !important;
		margin:0 auto;
	}
	.product-list .slick-prev {
		right: 0px;
		left: auto !important;
	}
	.product-list .slick-next {
		left: 0px;
		right: auto !important;
	}
	.products .item{width: 320px;}
}

@media (min-width: 430px) {
	.products .slick-slider {
		width: 320px !important;
		margin:0 auto;
	}
	.product-list .slick-prev {
		right: -80px !important;
		left: auto !important;
	}
	.product-list .slick-next {
		left: -80px !important;
		right: auto !important;
	}
	
}
@media (min-width: 750px) {
	.products .slick-slider {
		width: 640px !important;
		margin:0 auto;
	}
	.product-list .slick-prev {
		right: -80px !important;
		left: auto !important;
	}
	.product-list .slick-next {
		left: -80px !important;
		right: auto !important;
	}
	.kr-inner-bottom-wrapper {
		background:url(../images/product-range/gr-seperator.png);
	}
}
@media (min-width: 1070px) {
	.products .slick-slider {
		width: 960px !important;
		margin:0 auto;
	}
	.product-list .slick-prev {
		right: -80px !important;
		left: auto !important;
	}
	.product-list .slick-next {
		left: -80px !important;
		right: auto !important;
	}
}
@media (min-width: 1390px) {
	.products .slick-slider {
		width: 1280px !important;
		margin:0 auto;
	}
	.product-list .slick-prev {
		right: -100px !important;
		left: auto !important;
	}
	.product-list .slick-next {
		left: -100px !important;
		right: auto !important;
	}
}

@media (min-width: 1710px) {
	.products .slick-slider {
		width: 1600px !important;
		margin:0 auto;
	}
	.product-list .slick-prev {
		right: -100px !important;
		left: auto !important;
	}
	.product-list .slick-next {
		left: -100px !important;
		right: auto !important;
	}
}







