.tools-content {
    position: relative;
    min-height: 700px;
}
.main-content .page-style.frame {
    margin-top: 2%;
}
.main-content .page-style {
    position: relative;
    padding: 40px 50px;
    float: right;
    z-index: 10;
    width: 100%;
}
.main-content .page-style h2 {
    font-family: "DOCK11-Heavy";
    text-transform: uppercase;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 25px;
    color: #d1030a;
    text-shadow: 4px 4px 1px rgba(150, 150, 150, 0.5);
}
.main-content .page-style p {
    font-family: "Gotham";
    color: #333;
}
.main-content .page-style ol li {
    font-family: "Gotham";
    margin-top: 10px;
    color: #333;
}
.main-content .page-style ol li a {
    font-family: "Gotham";
    color: #333;
}
.main-content .page-style h4 {
    font-family: "DOCK11-Heavy";
    text-transform: uppercase;
    font-size: 20px;
    padding: 15px 0 0 0;
    color: #d1030a;
}
.main-content .page-style h5 {
    font-family: "DOCK11-Heavy";
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 15px;
    color: #d1030a;
}
.main-content .page-style h2 {
    font-family: "DOCK11-Heavy";
    text-transform: uppercase;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 25px;
    color: #d1030a;
    text-shadow: 4px 4px 1px rgba(150, 150, 150, 0.5);
}
.page-content {
    padding-top: 125px;
    overflow-x: hidden;
    position: relative;
}
.tools-content .container {
	max-width: 1170px;
}
.main-content .page-style table {
    width: 100%;
}
.main-content .page-style tr {
    padding: 10px;
}
.main-content .page-style td {
    font-family: "Gotham";
    padding: 10px 10px;
    word-wrap: break-word;
    color: #333;
}
.main-content .page-style .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: solid 1px #09471d;
}
.main-content .page-style h4 span {
    font-family: "Gotham-Bold";
    font-size: 20px;
    color: #d1030a;
    font-weight: bold;
    text-transform: lowercase;
}
.main-content .page-style p strong {
    font-family: "Gotham";
}
.main-content .page-style ul li strong {
    font-family: "Gotham";
}