/**/.left-panel {position: relative;}
/**/.right-panel {height: 680px;}
.img-responsive {display: inline;}
.thumbnail-product div h1 {font-size: 18px;margin-right: -30px;}
/**/.thumbnail-product div {vertical-align: top;}
/**/.left-panel .main-product {padding-top: 50px;}
/**/.mm-slider .right-panel .buttons {padding-top: 0px;}
.mm-slider .right-panel .buttons img {width: 44% !important;}
.mm-slider .right-panel .buttons a:last-child img {margin-top: -10px;}
.mm-slider .right-panel-content .product-name {color:#d1030a;}
.left-panel .main-product .main-title {margin-top: 30px;}
.kitkat-description-wrapper {background:url(../../assets/images/product-range/product-detail/product-detail-bg.jpg) center no-repeat;background-size: cover;}
.right-panel {padding: 10px 30px 30px 30px;position: relative;margin-top:50px;}
.right-panel-triangle {position:absolute;right:0px;top:90px;}
.right-panel .right-panel .buttons { padding-top: 0px; }
.right-panel .right-panel-img {text-align: center;}
.pr-banner-arrows {position: absolute;right:0px;top:30%;}
.pr-banner-arrows img {width: 50px;}
.pd-up-arrow, .pd-left-arrow, .pd-down-arrow {margin-bottom: 10px;}
.thumbnail-product {background: url(../../assets/images/product-range/product-detail/pd-bottom-thumb-bg.png) repeat-y;}
.pd-dots {text-align: center;margin-bottom: 50px;cursor: pointer;}
.pd-dot-inner{width:12px;height:12px;background:#fff;border-radius:50%;display: inline-block;margin-right: 5px;}
.mm-slider.owl-carousel .owl-item .pr-banner-arrows img {
    width: 50px;
}
/*mini moment styles*/
.dreamy-breaker-color {color: #75bee9 !important;}
.db-p-color {color: #666 !important;}
.right-panel-img {text-align: center;}
.dreamy-breaker-bg {background: url(../../assets/images/product-range/mini-moments/dreamy-breaker/dreamy-breaker-bg.jpg);bacbackground-position:center;background-size:cover;margin-top:100px;}
.live-breaker-bg {background:#AB7A4E;margin-top: 100px;}
.live-breaker-color {color: #ab7a4e !important;}
.rr-breaker-bg {background:#1C8040;margin-top: 100px;}
.thrill-breaker-bg {background: #C82127;margin-top:100px;}
.thrill-breaker-color {color:#e92127;}
.love-breaker-bg {background: url(../../assets/images/product-range/mini-moments/love-breaker/love-breaker-bg.jpg);bacbackground-position:center;background-size:cover;margin-top:100px;}
.love-breaker-color {color: #f4981f;}
.mm-slider .main-product > div {text-align: center;}
.dreamy-breaker-bottom {background: #6eb9e7;position: absolute;bottom: 40px;height: 60px;width: 100%;}
.mm-left {padding-top: 30px;}
.mm-slider.owl-carousel .owl-item img {display: inline; width:auto;}
.mm-pack {width: 70%;margin-top:20px;}
.mm-slider .owl-dots {text-align: center;}
.mm-slider .owl-dot {background: rgba(255,255,255,0.5);width:12px;height:12px;margin-right:10px;display: inline-block;border-radius: 50%;}
.mm-slider .owl-dot.active {background: #fff;}
.mm-slider .owl-nav .owl-prev, .mm-slider .owl-nav .owl-next {display: block !important;margin-top: 8px;}
.mm-slider .owl-prev {width: 50px;height:40px;background:url(../../assets/images/product-range/mini-moments/mm-slider-right.png) center no-repeat;}
.mm-slider .owl-next {width: 50px;height:40px;background:url(../../assets/images/product-range/mini-moments/mm-slider-left.png) center no-repeat;}
.mm-slider .owl-controls {display: block;width: 320px;text-align: center; height: 70px;background-color: #cb8f5c;margin-top: -110px;margin-right: 30%;}
.mm-slider .owl-controls .owl-nav {width: 320px;margin: auto;position: relative;z-index:5;top:13px;}
.mm-slider .owl-controls .owl-dots {top: 34px;position: relative;z-index:4;}
.mm-slider .dreamy-breaker-bottom {display: block;}
.mm-slider .main-product {height: auto;background: none;}
.mm-slider .mm-image img{width: 75% !important;}
.mm-slider .mm-image {text-align: center;}
.mm-slider #kitkat-description {max-width: 960px;}
.mm-slider .right-panel {width: 310px;background: #fff;padding:10px 21px 0px 20px;}
.mm-slider .left-panel {width: calc(100% - 310px);float: right;}
.mm-slider .main-product .mm-title img {width: 75%;}
.mm-slider .mm-pack {max-width: 220px;}
/*.mm-slider {background:#ba0104;}*/





@media (max-width: 1200px) {
	.mm-slider .mm-pack {max-width: 280px;}
    .mm-slider .right-panel {clear:both;width: 100%;margin-top: 0px;background: #fff !important;}
    .mm-slider .left-panel {float: none;clear:both;width: 100%;}
    .kitkat-description-wrapper {height:auto;}
    .right-panel-content {width: 60%;float: right;}
    .right-panel-img {width: 40%;float: right;}
    .right-panel-triangle {display: none;}
    .pr-banner-arrows {right:5%;}
    .dreamy-breaker-bg,.rr-breaker-bg,.thrill-breaker-bg,.live-breaker-bg,.love-breaker-bg {margin-top: auto;}
    /*mm-slider styles*/
    .mm-slider.owl-carousel .owl-item .mm-image img {display: inline;width: auto;}
    .mm-slider .main-product {height: auto;padding-top: 80px;}
    .mm-slider .pd-dots {display: none;}
    .mm-slider .owl-controls {display: block;width: 100%;text-align: center;height: 80px;background:rgb(111, 186, 230);margin-top: -37px;margin-right: 0px;position: relative;}
    .mm-slider #kitkat-description {max-width: 100%;}
    .mm-slider .right-panel .buttons img {width: auto !important;}
    .mm-slider .right-panel {height: auto;padding:10px 20px;padding-bottom: 45px;}
    .mm-slider .main-product .mm-title img {width: auto;}
    .mm-pack {width: auto;}
    /*.mm-slider .mm-pack {max-width: auto;}*/
	.mm-slider.owl-carousel .owl-item .pr-banner-arrows {left: 5%;}
}
@media(max-width:768px) {
  .pr-banner-arrows div img{width: 45px !important;}    
  .mm-slider .right-panel-content,
  .mm-slider .right-panel-img {width: 100%;}
  .mm-slider .thumbnail-product {display: none;}
  .mm-slider .main-product {min-height:450px;}
  .mm-slider .right-panel {background: #fff !important;}
  .mm-slider .right-panel .product-name {font-size: 26px;text-align: center;}
  .mm-slider .right-panel .product-text {text-align: center;}
  .mm-slider .right-panel .buttons {text-align: center;}
  .mm-slider .right-panel .buttuns a {display: inline-block;}
  .mm-slider /*mini-momentstyles*/
  .mm-image img {text-align: center;max-width: 100%;}
  .mm-slider .main-product {min-height: auto !important;}
  .left-panel .main-product {padding-top: 0px;}
  .mm-slider{padding-top: 70px;}
  .mm-title img {width: 70% !important;margin-top: 30px;margin-bottom: 5px;}
  .mm-vid-box-con {display: block;text-align: center;}
  .mm-slider .owl-controls {display: block;width: 100%;text-align: center;height: 80px;background:rgb(111, 186, 230);margin-top: -37px;margin-right: 0px;position: relative;}
  .mm-pack {width: auto;}
}
@media (max-width: 767px) {
  .mm-slider.owl-carousel .owl-item .pr-banner-arrows {
      position: absolute;
      left: 5%;
      top: 42%;
  }
}
