/* Custom Styles  */
.contact-us-trigger{top: 20%}
.img-center{display: inline-block !important;max-width: 100%;width: auto !important;}
.product-range .product-wrap{}
.product-range .section-heading{position: relative;margin-top: 150px;}
.product-range .section-heading h1{
  color: #d1030a;
    margin-bottom: 12px;
    text-shadow: 1px 5px 5px rgba(108, 114, 107, 1);
    font-size: 45px;
  }
.product-range{background: #b10006 url("../images/products/product-bg.jpg") repeat-x center 0px;background-size:1auto auto;display: none; }
.product-range.active{display: block;}
.product-range .product{width: 90%;margin: 20px auto;}
.product-range .item{position:relative;}
.product-range .item .item-image{position:relative;top: 265px;width: 100%;

  left:50%;
  -webkit-transform:translateX(-50%);
     -moz-transform:translateX(-50%);
      -ms-transform:translateX(-50%);
       -o-transform:translateX(-50%);
          transform:translateX(-50%);}
.product-range .item .item-image.top{top: 0;width: 100%;}
.product-range .item .item-image.middle{top: 225px;}
.product-range .item .item-desc{position: absolute;
    top: 68%;
  left:50%;
  -webkit-transform:translateX(-50%);
     -moz-transform:translateX(-50%);
      -ms-transform:translateX(-50%);
       -o-transform:translateX(-50%);
          transform:translateX(-50%);
    width: 90%;}
.product-range .item h4{color: #fff;font-family: 'DOCK11-Heavy';text-align: center;font-size: 1.25em;text-transform: uppercase;}
.product-range .item p{min-height: 70px;color: #ffffff;text-align: center;line-height: 20px;}
.product-range .item span{display: block;width: 190px;background: url("../images/button.png")no-repeat;background-size:100%;background-position: center; ;height: 60px;color: #fff;font-size: 18px;font-weight: bold;height: 60px;left: 50%;margin: 15px auto;text-align: center;padding: 15px;cursor: pointer;}
.product-range .product .owl-controls{color: #ffffff;}
.product-range .product .owl-controls .owl-nav{position: absolute;top: 30%;width: 100%;
  -webkit-transform:translateY(-50%);
     -moz-transform:translateY(-50%);
      -ms-transform:translateY(-50%);
       -o-transform:translateY(-50%);
          transform:translateY(-50%);}
.product-range .product .owl-controls .owl-nav i{font-size: 30px;display: table-cell;vertical-align: middle;}
.product-range .product .owl-controls .owl-prev{background:#d1030a;color: #ffffff;border-radius: 50%;height: 60px;width: 60px;text-align: center;vertical-align: middle;position: absolute;left: -60px;display: table;vertical-align: middle;}
.product-range .product .owl-controls .owl-next{background:#d1030a;color: #ffffff;border-radius: 50%;height: 60px;width: 60px;text-align: center;vertical-align: middle;position: absolute;right: -60px;display: table;vertical-align: middle;}


.product {}
.product-popup{display: none;}
.product-popup .back-to-product-main{position: absolute;left: 20px;top: 125px;z-index: 2}
.product-popup .back-to-product-main i{font-size: 40px;color: #fff;cursor: pointer;}
.product-popup.active{display: block;}
.product-popup .product-inner-main-carousel{background:#d3955d}
.product-popup .mini-moments-carousal .owl-item{/*border-bottom: 1px solid #333*/}

.product-box{display: block;width: 100%;}
.product-box .product-img{display: block;width: 100%;vertical-align: bottom;}
.product-short-dis{padding: 30% 20px 15px;margin-top: -37%;background: #b10006 url(../images/products/product-background.jpg) no-repeat center 0px;background-size: 100% auto;position: relative;z-index: 9;min-height: 370px;}

.owl-carousel .owl-item .product-img{width: 100%;text-align: center;position: relative;z-index: 10;}
.owl-carousel .owl-item .product-img img{width: auto;max-width: 100%;display: inline-block;/*position: relative;*/}
.owl-carousel .owl-item .p-buynow img{width: auto;max-width: 100%;display: inline-block;}
.owl-carousel .owl-item .product-short-dis .p-buynow img{width: 150px;}
.owl-carousel .owl-item .p-moreinfo img{width: auto;max-width: 100%;display: inline-block;}

.twentytwenty-container {-moz-user-select: none;box-sizing: content-box;position: relative;z-index: 0;}
.twentytwenty-container img.twentytwenty-before {z-index: 2;}
.twentytwenty-container img {left: 50%;max-width: 100%;position: absolute;top: 0;transform: translateX(-50%);-ms-transform: translateX(-50%);-webkit-transform: translateX(-50%);width: auto;}
.twentytwenty-container .twentytwenty-handle {cursor: pointer;height:82px;position: absolute;bottom: 35%;transform: translateY(-10%);-ms-transform: translateX(-10%);-webkit-transform: translateX(-10%);width: 100px;z-index: 40;right:-9px;background: url('../images/product-range/tear-here.png') no-repeat right;    margin-top: -31px;}
.twentytwenty-container .twentytwenty-handle span.twentytwenty-left-arrow {background: rgba(0, 0, 0, 0) url("../images/products/tear-hear.png") no-repeat scroll 0 0 / 70% auto; display: block;height: 35px;left: -70%;margin: 0;padding: 0;position: absolute;width: 85px;}
.twentytwenty-container .twentytwenty-handle span.twentytwenty-right-arrow {display: none;}
.product-list{position: relative;margin-top: -5%;}
.product-list .owl-controls{position: absolute;top: 25%;width: 100%;}
.product-list .owl-controls .owl-nav {position: relative;}
.product-list .owl-controls .owl-nav .owl-prev {position: absolute;left: 10px;width: 50px;height: 50px;text-indent: 1000px;overflow: hidden;background: url(../images/products/left-arrow.png) no-repeat;background-size: contain;}
.product-list .owl-controls .owl-nav .owl-next {position: absolute;right: 10px;width: 50px;height: 50px;text-indent: 1000px;overflow: hidden;background: url(../images/products/right-arrow.png) no-repeat;background-size: contain;}

.product-detail-popup{position: relative;top: 0px;left: 0px;width: 100%;height: 100%;background-color:#b10006;z-index: 10;}
.detailedprobox{position: relative;height: 100%;width: 100%;display: block;overflow: hidden;background-color: #a10207;}
.proleftbox{position: relative;height: 100%;display: block;vertical-align: middle;left: 0px;/*float: none !important;*/text-align: center;padding: 0px;background-position:center center;background-size: cover;}
.prorightbox{position: relative;height: 100%;display: block;vertical-align: top;right: 0px;/*float: none !important;*/padding: 0px;background-color: #fff;}
.detailedprobox.singlepro{position: relative;height: 100%;width: 100%;display: table;overflow: hidden;}
.detailedprobox.singlepro .proleftbox{position: relative;height: 100%;display: table-cell;vertical-align: middle;left: 0px;float: none !important;text-align: center;padding: 0px;background-position:center center;background-size: cover;}
.detailedprobox.singlepro .prorightbox{position: relative;height: 100%;display: table-cell;vertical-align: top;right: 0px;float: none !important;padding: 0px;background-color: #fff;}
.product-detail-side{padding: 25px;background-color: #FFF;position: relative;}
.packet-desc{margin: 20px;padding-bottom: 20px;border-bottom: 1px solid #999999;}
.packet-desc h2{margin-top: 0;}
.packet-desc a {background: #d1030a none repeat scroll 0 0;border-radius: 15px;color: #ffffff;display: blocks;font-family: "Gotham";font-size: 12px;font-weight: bold;text-align: center;padding: 10px 15px;margin-top: 8px;display: inline-block;}
.packet-image{padding: 0 20px 20px;}
.buy-item h4 {color: #d1030a;font-size: 25px;font-family: "DOCK11-Heavy";font-weight: 500;}
.buy-now-box{margin: 0 10px;}
.buy-now-box .buy-item, .buy-now-box .image-box{float: left;}
.videoposter{margin-bottom: 8px;}
.minimoments-products .owl-controls{display: block;width: 100%;text-align: center;height: 70px;background-color: #cb8f5c;margin-top:-1px;}
.minimoments-products .owl-controls .owl-dots{top: 25px;position: relative;z-index: 4;}
.minimoments-products .owl-controls .owl-dot {/*background: rgba(255, 255, 255, 0.55) none repeat scroll 0 0;border-radius: 50%;*/display: inline-block;/*height: 10px;*/margin: 2px 14px;vertical-align: middle;width: 10px;cursor: pointer;}
.minimoments-products .owl-controls .owl-dot span{background: rgba(255, 255, 255, 0.55) none repeat scroll 0 0;border-radius: 50%;
    display: block;
    height: 10px;
    width: 10px;}
.minimoments-products .owl-controls .owl-dot.active span {background: #ffffff none repeat scroll 0 0;}
.minimoments-products .owl-controls .owl-nav {width: 320px;margin: auto;position: relative;z-index: 5;}
.minimoments-products .owl-controls .owl-prev {background: transparent none repeat scroll 0 0;border: 2px solid #ffffff;border-radius: 50%;color: #ffffff;display: table;float: left;height: 50px;margin: 10px 0;width: 50px;cursor: pointer;}
.minimoments-products .owl-controls .owl-next {background: transparent none repeat scroll 0 0;border: 2px solid #ffffff;border-radius: 50%;color: #ffffff;display: table;float: right;height: 50px;margin: 10px 0;width: 50px;cursor: pointer;}
.minimoments-products .owl-controls .owl-prev:hover, .minimoments-products .owl-controls .owl-next:hover {background: transparent none repeat scroll 0 0;}
.minimoments-products .owl-controls i {color: #ffffff;display: table-cell;font-size: 20px;text-align: center;vertical-align: middle;}

.otherprodowl{display: block;}


.product-main-triggers {
    color: #ffffff;
    left: 60px;
    position: absolute;
    top: 38%;
    transform: translateY(-50%);
    width: 5%;
    z-index: 1001;
}
.product-main-triggers .product-main-prev-trigger {
    border: 2px solid #d1030a;
}
.product-main-triggers .product-main-prev-trigger {
    background: transparent none repeat scroll 0 0;
    border: 2px solid #ffffff;
    border-radius: 50%;
    color: #ffffff;
    cursor: pointer;
    display: table;
    height: 70px;
    margin: 40px 0;
    text-align: center;
    width: 70px;
}
.product-main-triggers .product-main-next-trigger {
    background: transparent none repeat scroll 0 0;
    border: 2px solid #ffffff;
    border-radius: 50%;
    color: #ffffff;
    cursor: pointer;
    display: table;
    height: 70px;
    margin: 40px 0;
    text-align: center;
    width: 70px;
}
.product-main-triggers .back-to-product-main {
    background: transparent none repeat scroll 0 0;
    border: 2px solid #ffffff;
    border-radius: 50%;
    color: #ffffff;
    display: table;
    height: 70px;
    margin: 15px 0;
    text-align: center;
    width: 70px;
    z-index: 2;
    cursor: pointer;
}
.product-main-triggers i {
    color: #ffffff;
    display: table-cell;
    font-size: 20px;
    vertical-align: middle;
}
.otherproducts .prorightbox{background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #de2127 0%, #c7030a 40%, #c10309 55%, #b70309 69%, #a40207 84%, #a10207 100%) repeat scroll 0 0;}
.otherproducts .prorightbox .product-detail-side{background: transparent;}
.otherproducts .packet-desc h2 {
    color: #ffffff;
    font-size: 42px;
    font-family: "DOCK11-Heavy";
    text-transform: uppercase;
}
.otherproducts .packet-desc p {
    color: #ffffff;
    line-height: 20px;
    width: 80%;
}
.otherproducts .packet-desc a {
    background: #fff none repeat scroll 0 0;
    color: #d1030a;
}
.otherproducts .packet-desc {border-bottom: 1px solid #FFF;}
.otherproducts .proleftbox{background-color: #efefef;vertical-align: bottom;overflow: hidden;}
.otherproducts .proleftbox.signlepro {vertical-align: middle;}
.horizontal-item-head h3 {
    color: #d1030a;
    font-family: "DOCK11-Heavy";
}
.horizontal-item-left .horizontal-item-left-bottom {
    background: #ffffff none repeat scroll 0 0;
    /*margin-top: 100px;*/
    margin-bottom: 0px;
    position: relative;
    width: 100%;
}
.horizontal-item-left .horizontal-item-left-bottom .owl-stage-outer{overflow: visible;}
.horizontal-item-left .horizontal-item-left-bottom .slick-list{overflow: visible;}
.horizontal-item-left .horizontal-item-left-bottom .table{display: table;margin: 0;}
.horizontal-item-left .horizontal-item-left-bottom .horizontal-item-left-bottom-single.active {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(209, 3, 10, 1) 0%, rgba(209, 3, 10, 1) 50%, rgba(184, 3, 9, 1) 71%, rgba(168, 2, 8, 1) 90%, rgba(165, 2, 7, 1) 100%) repeat scroll 0 0;
    transition: background 300ms ease-in-out 0s;
    padding: 30px 10px 5px 10px;
}
.horizontal-item-left .horizontal-item-left-bottom .horizontal-item-left-bottom-single {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(233, 233, 233, 1) 71%, rgba(199, 199, 199, 1) 90%, rgba(182, 182, 182, 1) 100%) repeat scroll 0 0;
    cursor: pointer;
    display: table-cell;
    /*display: inline-block;*/
    /*height: 185px;*/
    padding: 30px 10px 5px 10px;
    position: relative;
    /*width: 50%;*/
    vertical-align: top;
    outline: none;
    min-height: 200px;
    max-height: 210px;
    /*float: left;*/
}

.horizontal-item-left .horizontal-item-left-bottom .slick-dots{display: block;position: absolute;top: -80px;text-align: center;width: 100%;z-index: 10;bottom: auto;}
.horizontal-item-left .horizontal-item-left-bottom .slick-dots li{display: inline-block;margin: 0 6px;width: auto;height: auto;}
.horizontal-item-left .horizontal-item-left-bottom .slick-dots li button{background: rgba(209, 3, 10, 0.55) none repeat scroll 0 0;border-radius: 50%;display: block;height: 10px;width: 10px;cursor: pointer;overflow: hidden;text-indent: 1000px;}
.horizontal-item-left .horizontal-item-left-bottom .slick-dots li.slick-active button{background: rgba(209, 3, 10, 1) none repeat scroll 0 0;}
.horizontal-item-left .horizontal-item-left-bottom .table-cell3 .horizontal-item-left-bottom-single{
    width: 33.33%
}
.horizontal-item-left .horizontal-item-left-bottom .horizontal-item-left-bottom-item-desc h4 {
    color: #d1030a;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    font-family: "DOCK11-Heavy";
    min-height: 80px;
}
.horizontal-item-left .horizontal-item-left-bottom .horizontal-item-left-bottom-single.active .horizontal-item-left-bottom-item-desc h4 {
    color: #ffffff;
}
.horizontal-item-left .horizontal-item-left-bottom .horizontal-item-left-bottom-item-image {
    float: left;
    left: 0px;
    position: absolute;
    top: auto;
    bottom: 0;
    text-align: center;
    width: 45%;
}
.horizontal-item-left .horizontal-item-left-bottom .horizontal-item-left-bottom-item-image img{display: inline-block;}
.horizontal-item-left .horizontal-item-left-bottom .horizontal-item-left-bottom-item-desc {
    float: right;
    width: 55%;
    text-align: left;
}
.horizontal-item-left .horizontal-item-left-inner-wrap{padding: 15px;margin-top: 20px;height: 550px;}
.horizontal-item-left .horizontal-item-left-inner-wrap .horizontal-item-left-inner{/*display: none;*/transform: translateY(0%);-webkit-transition: all 0.5s ease; transition: all 0.5s ease;outline: none;display: table;}
.horizontal-item-left .horizontal-item-left-inner-wrap .horizontal-item-left-inner.active{display: block;}

.horizontal-item-left .horizontal-item-left-bottom .horizontal-item-left-bottom-item-desc a.p-buynow{display: block;margin-left: -5px;margin-top: 4px;width: 100px;}

.product-main-triggers.redcolor{color: #cf3233;}
.product-main-triggers.redcolor .product-main-prev-trigger, .product-main-triggers.redcolor .product-main-next-trigger, .product-main-triggers.redcolor .back-to-product-main{border: 2px solid #cf3233;color: #cf3233;}
.product-main-triggers.redcolor .product-main-prev-trigger i, .product-main-triggers.redcolor .product-main-next-trigger i, .product-main-triggers.redcolor .back-to-product-main i{color: #cf3233;}

.img-left-text-right{display: table;}
.img-left-text-right .horizontal-item-head{width: 30%;display: table-cell;vertical-align: middle;text-align: left;}
.img-left-text-right .horizontal-item-image{width: 70%;text-align: right;display: table-cell;vertical-align: middle;padding-right: 20px;height: 500px;}
.img-left-text-right .horizontal-item-image img{display: inline-block;}
.horizontal-item-left .horizontal-item-left-bottom.blocks3 .horizontal-item-left-bottom-single{width: 50%;}

.product-detail-side .video-thumb-senses{left: 45px;margin-top: 30px;position: absolute;}

.twentytwenty-container .twentytwenty-handle span.twentytwenty-left-arrow{left: 0;}
.twentytwenty-container.senses_hazelnut .twentytwenty-handle span.twentytwenty-left-arrow{left: -180%;}
.twentytwenty-container.minimom .twentytwenty-handle span.twentytwenty-left-arrow{left: -60%;} 

.twentytwenty-container .twentytwenty-handle.reachleft{transform: translateX(20%);-webkit-transition: all 0.1s ease; transition: all 0.1s ease;}
.twentytwenty-container .twentytwenty-handle.reachright{transform: translateX(-20%);-webkit-transition: all 0.1s ease; transition: all 0.1s ease;}

.twentytwenty-container.minimom .twentytwenty-handle{bottom: auto;top: 22%;}
.twentytwenty-container.minimom .twentytwenty-handle span.twentytwenty-left-arrow{left: 0%;}
.twentytwenty-container.senses_hazelnut .twentytwenty-handle span.twentytwenty-left-arrow{left: -85%;}
.twentytwenty-container.senses_hazelnut .twentytwenty-handle.reachleft span.twentytwenty-left-arrow.tearing-active{left: 85%;}

@media screen and (max-width: 1900px) {
    .product-short-dis{margin-top: -50%;padding-top: 40%;}
    .twentytwenty-container .twentytwenty-handle span.twentytwenty-left-arrow {left: -30%;}
    /*.twentytwenty-container.senses_hazelnut .twentytwenty-handle span.twentytwenty-left-arrow{left: -210%;}*/
    .twentytwenty-container.senses_hazelnut .twentytwenty-handle span.twentytwenty-left-arrow{left: 30%;} 
    .twentytwenty-container.minimom .twentytwenty-handle span.twentytwenty-left-arrow{left: 20%;} 
    
}
@media screen and (max-width: 1400px) {
    .product-short-dis{margin-top: -45%;}
    .twentytwenty-container .twentytwenty-handle span.twentytwenty-left-arrow {left: -30%;}
    .twentytwenty-container.senses_hazelnut .twentytwenty-handle span.twentytwenty-left-arrow{left: -15%;}
}
@media screen and (max-width: 1024px) {
    .img-left-text-right .horizontal-item-image{display: block;width: 100%;text-align: center;}
    .img-left-text-right .horizontal-item-head{display: block;width: 100%;text-align: center;}
    .horizontal-item-left .horizontal-item-left-inner-wrap{padding: 15px 15px 5px;height: auto;}
    .img-left-text-right .horizontal-item-image{height: auto;padding: 0;}
}
@media screen and (min-width: 990px) and (max-width: 1000px) {
    .product-short-dis{margin-top: -33%;}
    .twentytwenty-container.senses_hazelnut .twentytwenty-handle span.twentytwenty-left-arrow{left: 160%;}
}
@media screen and (max-width: 1100px) {
    .prorightbox, .proleftbox, .detailedprobox{display: block;width: 100% !important;}
    .detailedprobox.singlepro, .detailedprobox.singlepro .proleftbox, .detailedprobox.singlepro .prorightbox{display: block;width: 100% !important;}
    .minimoments-owl .detailedprobox .proleftbox{padding-top: 30px;margin-top: 0px;}
    .proleftbox {margin-top: 0px;padding:0;}
    .packet-image, .packet-desc, .buy-now-box{text-align: center;}
    .packet-image img, .packet-desc img, .buy-now-box img{display: inline-block;}
    .packet-desc .text-left{text-align: center;}
    .buy-item .p-buynow{margin: 20px auto;width: 60%;display: block;}
    .horizontal-item-left .horizontal-item-left-bottom{position: relative;margin-top: 80px;}
    .otherproducts .packet-desc p{width: 100%;}
    .horizontal-item-left .horizontal-item-left-inner-wrap .horizontal-item-left-inner{transform: translateY(0);}
    
    .product-mobile-head{color: #d1030a;margin-left: 40px;margin-right: 40px;margin-top: 60px;}
    .minimoments-owl .detailedprobox .product-mobile-head{color: #fff;margin-top: 30px;margin-bottom: 20px;}
    .product-main-triggers {left: 0;margin: 0;top: 38px;transform: translateY(0%);width: 100%;z-index: 3;}
    .product-main-triggers .back-to-product-main{display: none;}
    .product-main-triggers .product-main-prev-trigger, .product-main-triggers .product-main-next-trigger{margin: 0px;position: absolute;top: 27px;height: auto;width: auto;border:none;}
    .product-main-triggers.redcolor .product-main-prev-trigger, .product-main-triggers.redcolor .product-main-next-trigger, .product-main-triggers.redcolor .back-to-product-main{border: none;}
    .product-main-triggers .product-main-prev-trigger{left: 10px;}
    .product-main-triggers .product-main-next-trigger{right: 10px;}
    .product-main-next-trigger .fa-chevron-down::before {content: "";}
    .product-main-prev-trigger .fa-chevron-up::before {content: "";}
    .page-content{overflow: hidden;}
    .horizontal-item-left .horizontal-item-left-inner-wrap{height: auto;}
    .twentytwenty-container.senses_hazelnut .twentytwenty-handle span.twentytwenty-left-arrow{left: -130%;}
    .minimoments-owl .detailedprobox .product-mobile-head{display: block !important; }
}
@media screen and (max-width: 990px) {
    
    .product-short-dis{margin-top: -35%;}
    .twentytwenty-container .twentytwenty-handle span.twentytwenty-left-arrow {left: -30%;}
    .twentytwenty-container.senses_hazelnut .twentytwenty-handle span.twentytwenty-left-arrow{left: -30%;}
}
@media screen and (max-width: 800px) {
    .product-short-dis{margin-top: -40%;}
    .twentytwenty-container .twentytwenty-handle span.twentytwenty-left-arrow {left: -30%;}
    .twentytwenty-container.senses_hazelnut .twentytwenty-handle span.twentytwenty-left-arrow{left: -15%;}
}
@media screen and (max-width: 768px) {
    .product-range .section-heading{top: -50px;}
    .product-short-dis{margin-top: -23%;padding-top: 100px;}
    .twentytwenty-container .twentytwenty-handle span.twentytwenty-left-arrow {left: -30%;}
    .twentytwenty-container.senses_hazelnut .twentytwenty-handle span.twentytwenty-left-arrow{left: 30%;} 
}
@media screen and (max-width: 620px) {
    .otherproducts .packet-desc h2{font-size: 28px}
    .product-short-dis{margin-top: -28%;padding-top: 100px;}
    .twentytwenty-container .twentytwenty-handle span.twentytwenty-left-arrow {left: -30%;}
    .twentytwenty-container.senses_hazelnut .twentytwenty-handle span.twentytwenty-left-arrow{left: -20%;} 
}
@media screen and (max-width: 478px) {
    .proleftbox{width: 100% !important;padding: 0;margin: 0;}
    .product-short-dis{margin-top: -35%;padding-top: 130px;}
    .twentytwenty-container .twentytwenty-handle span.twentytwenty-left-arrow {left: -20%;}
    .twentytwenty-container.senses_hazelnut .twentytwenty-handle span.twentytwenty-left-arrow{left: -20%;} 
    .twentytwenty-container.minimom .twentytwenty-handle span.twentytwenty-left-arrow{left: -20%;} 
}
@media screen and (max-width: 380px) {
    .proleftbox{width: 100% !important;padding: 0;margin: 0;}
    .product-short-dis{margin-top: -45%;padding-top: 130px;}
    .twentytwenty-container .twentytwenty-handle span.twentytwenty-left-arrow {left: -40%;}
    .twentytwenty-container.senses_hazelnut .twentytwenty-handle span.twentytwenty-left-arrow{left: 10%;} 
    .twentytwenty-container.minimom .twentytwenty-handle span.twentytwenty-left-arrow{left: -30%;} 
}


        .nutri-popup-overlay{position: fixed;width: 100%;height: 100%;background: rgba(0,0,0,.56);overflow: hidden;text-align: center;display: none;z-index: 9999;top: 0px;}
		.nutri-popup-outer{background: #ffffff;width: auto;display: none;vertical-align: middle;padding: 25px;position: absolute;z-index: 10000;font-size: 11px;}
		.nutri-popup-outer h2{font-family: "DOCK11-Heavy";text-align: right;color: #d1030a;font-weight: bold;text-transform: uppercase;}
        .nutri-popup-outer td,.nutri-popup-outer th{padding: 8px 3px;}
		.nutri-popup-outer .nutri-closer{cursor: pointer;padding: 10px}
		.nutri-popup-outer table{text-align: left;border-bottom:2px solid #e60004;margin-bottom: 15px}
		.nutri-popup-outer table thead{border-top:2px solid #e60004;border-bottom: 5px solid #e60004;}
		.nutri-popup-outer table thead td{padding:8px;line-height: 2.75em}
		.nutri-popup-outer td{margin-left: 15px;width: 20%;padding:8px}
		.nutri-popup-outer table tr{border-bottom: 3px solid #cfcfcf}
		.nutri-popup-outer table tr:first-child,.nutri-popup-outer table tr:nth-child(3),.nutri-popup-outer table tr:nth-child(5){border-bottom: 1px solid #cfcfcf}{border-bottom: 2px solid #cfcfcf}
		.nutri-popup-outer p{text-align: left;margin-bottom: 0}
		.nutri-popup-outer table tr:last-child{border:none;}
		.nutri-right-section img{margin: 0;padding: 0;width: 100%}
		.nutri-right-section p{padding-left: 45px;line-height: 20px}
		.nutri-right-section h4{padding-left: 45px;font-family: "Gotham-Bold";display: inline-block;vertical-align: middle;text-align: left;width: 100%}
		.nutri-right-section h4 img{width: 50px;display: inline-block;}
		@media screen and (max-width: 1440px) {
		  .nutri-popup-outer{width:auto;}
		}
		@media screen and (max-width: 991px) {
		  .nutri-popup-outer{width:auto;}
		  .videoposter{text-align: center;}
		}