/*@font-face {
    font-family: 'AdobeArabic';
    src: url('AdobeArabic.eot');
    src: url('AdobeArabic.eot?#iefix') format('embedded-opentype'),
         url('AdobeArabic.woff') format('woff'),
         url('AdobeArabic.otf') format('otf'),
         url('AdobeArabic.ttf') format('truetype'),
         url('a_gentle_touch-webfont.svg#AdobeArabic') format('svg');
    font-weight: normal;
    font-style: normal;

}*/
@font-face {
    font-family: 'DOCK11-Heavy';
    src: url('dock11/DOCK11-Heavy.eot');
    src: url('dock11/DOCK11-Heavy.eot?#iefix') format('embedded-opentype'),
         url('dock11/DOCK11-Heavy.woff') format('woff'),
         url('dock11/DOCK11-Heavy.otf') format('otf'),
         url('dock11/DOCK11-Heavy.ttf') format('truetype'),
         url('dock11/DOCK11-Heavy.svg#DOCK11-Heavy') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Gotham';
    src: url('Gotham/Gotham.eot');
    src: url('Gotham/Gotham.eot?#iefix') format('embedded-opentype'),
         url('Gotham/Gotham.woff') format('woff'),
         url('Gotham/Gotham.otf') format('otf'),
         url('Gotham/Gotham.ttf') format('truetype'),
         url('Gotham/Gotham.svg#Gotham') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Gotham-Bold';
    src: url('Gotham/Gotham-Bold.eot');
    src: url('Gotham/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
         url('Gotham/Gotham-Bold.woff') format('woff'),
         url('Gotham/Gotham-Bold.otf') format('otf'),
         url('Gotham/Gotham-Bold.ttf') format('truetype'),
         url('Gotham/Gotham-Bold.svg#Gotham-Bold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Gotham-Light';
    src: url('Gotham/Gotham-Light.eot');
    src: url('Gotham/Gotham-Light.eot?#iefix') format('embedded-opentype'),
         url('Gotham/Gotham-Light.woff') format('woff'),
         url('Gotham/Gotham-Light.otf') format('otf'),
         url('Gotham/Gotham-Light.ttf') format('truetype'),
         url('Gotham/Gotham-Light.svg#Gotham-Light') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*@font-face {
    font-family: 'Gotham-Thin';
    src: url('Gotham/Gotham-Thin.eot');
    src: url('Gotham/Gotham-Thin.eot?#iefix') format('embedded-opentype'),
         url('Gotham/Gotham-Thin.woff') format('woff'),
         url('Gotham/Gotham-Thin.otf') format('otf'),
         url('Gotham/Gotham-Thin.ttf') format('truetype'),
         url('Gotham/Gotham-Thin.svg#Gotham-Thin') format('svg');
    font-weight: normal;
    font-style: normal;

}*/
/*@font-face {
    font-family: 'AntennaCond-Bold';
    src: url('AntennaCond-Bold.eot?#iefix') format('embedded-opentype'),
         url('AntennaCond-Bold.otf')  format('opentype'),
         url('AntennaCond-Bold.woff') format('woff'), 
         url('AntennaCond-Bold.ttf')  format('truetype'), 
         url('AntennaCond-Bold.svg#AntennaCond-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}*/